{{- /*
  Author: Vladlena Costescu (@lbds137)
  ID: `19`
  Trigger type: `Command`
  Trigger: `agree`
*/ -}}

{{ $agreementRole := toInt (dbGet .Guild.OwnerID "Agreement Role ID").Value }}
{{ $introduction := toInt (dbGet .Guild.OwnerID "Introduction Channel ID").Value }}
{{ $modLog := toInt (dbGet .Guild.OwnerID "Mod Log Channel ID").Value }}
 
{{ if not (hasRoleID $agreementRole) }}
  {{ giveRoleID .User.ID $agreementRole}}
 
  {{ $title := "User Agreement Record" }}
  {{ $description := (joinStr "" "✅ User **" .User.String "** (ID: " .User.ID ") has agreed to abide by the rules and was given the <@&" $agreementRole "> role!") }}
  {{ execCC 3 nil 0 (sdict "Title" $title "Description" $description "Channel" $modLog) }}

  {{ $result := joinStr "" "✅ Your agreement has been recorded! Please proceed to <#" $introduction "> to post a compliant introduction. Thank you!" }}
  {{ execCC 3 nil 0 (sdict "Title" "Agreement Success" "Description" $result "DeleteResponse" true "DeleteDelay" 5) }}

  {{ deleteTrigger 5 }}
{{ else }}
  {{ $result := "❌ You have already agreed to the rules!" }}
  {{ execCC 3 nil 0 (sdict "Title" "Agreement Failure" "Description" $result "DeleteResponse" true "DeleteDelay" 5) }}

  {{ deleteTrigger 5 }}
{{ end }}