{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `.*`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $prefix := or (dbGet $globalCategoryID "Command Prefix").Value "-" }}
{{ $prefixRegex := joinStr "" "\\A\\Q" $prefix "\\E" }}

{{ $trigger := .Message.Content }}
{{ if not (reFind (joinStr "" $prefixRegex "agree\\z") $trigger) }}
    {{ $result := joinStr "" "⚠️ Please enter the correct command for agreeing to the rules: `" $prefix "agree`" }}

    {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" "Invalid Agreement Command"
        "Description" $result
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}

    {{ deleteTrigger $deleteTriggerDelay }}
{{ end }}
