{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `agree`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $agreementRole := toInt (dbGet $rolesCategoryID "Agreement Role ID").Value }}
{{ $announcementNotifyRole := toInt (dbGet $rolesCategoryID "Announcement Notify Role ID").Value }}
{{ $discussionNotifyRole := toInt (dbGet $rolesCategoryID "Discussion Notify Role ID").Value }}
{{ $eventNotifyRole := toInt (dbGet $rolesCategoryID "Event Notify Role ID").Value }}

{{ $introductionChannelID := toInt (dbGet $channelsCategoryID "Introduction Channel ID").Value }}
{{ $agreementLogChannelID := toInt (dbGet $channelsCategoryID "Agreement Log Channel ID").Value }}

{{ $defaultAvatar := (dbGet $globalCategoryID "Default Avatar").Value }}
{{ $userAvatar := .User.AvatarURL "128" }}

{{ if not (hasRoleID $agreementRole) }}
    {{ giveRoleID .User.ID $agreementRole }}
    {{ giveRoleID .User.ID $announcementNotifyRole }}
    {{ giveRoleID .User.ID $discussionNotifyRole }}
    {{ giveRoleID .User.ID $eventNotifyRole }}

    {{ $title := "User Agreement Record" }}
    {{ $description := (joinStr ""
        "✅ User **" .User.String "** (ID: " .User.ID ") "
        "has agreed to abide by the rules and was given the <@&" $agreementRole "> role!"
    ) }}
    {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" $title
        "Description" $description
        "ThumbnailURL" (or $userAvatar $defaultAvatar)
        "Channel" $agreementLogChannelID
    ) }}

    {{ $result := joinStr ""
        "✅ Your agreement has been recorded! Please proceed to <#" $introductionChannelID "> "
        "to post a compliant introduction. Thank you!"
    }}
    {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" "Agreement Success"
        "Description" $result
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}

    {{ deleteTrigger $deleteTriggerDelay }}
{{ else }}
    {{ $result := "❌ You have already agreed to the rules!" }}
    {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" "Agreement Failure"
        "Description" $result
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}

    {{ deleteTrigger $deleteTriggerDelay }}
{{ end }}
