{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `regex`
  Trigger: `(<@&499037360340598819>)|(@everyone)|(@here)`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}

{{ $kickReason := "pinging staff in an attempt to expedite the server admission process" }}
{{ $silent := execAdmin "kick" .User.ID $kickReason }}
{{ joinStr "" "Kicked user **" .User.String " for " $kickReason "!" }} 
 
{{ deleteTrigger $deleteTriggerDelay }}
{{ deleteResponse $deleteResponseDelay }}