{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `(:thumbsup:)|(👍)`
  Dependencies: none
*/ -}}

{{ $bumpCooldownMinutes := 120 }}
{{ $now := currentTime }}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}
{{ $lastBumpTime := $globalDict.Get "Last Bump" }}

{{ $messageID := 0 }}
{{ if $lastBumpTime }}
    {{ $minutesSinceBump := toInt ($now.Sub $lastBumpTime).Minutes }}
    {{ if gt $minutesSinceBump $bumpCooldownMinutes }}
        {{ $globalDict.Set "Last Bump" $now }}
        {{/* lint:ignore permission-conditional-staff intentional-global-bump-tracking */}}
        {{/* lint:ignore database-global-write intentional-bump-tracking */}}
        {{ dbSet 0 "Global" $globalDict }}
        {{ $messageID = sendMessageRetID nil "`Last Bump` updated!" }}
    {{ else }}
        {{ $messageID = sendMessageRetID nil "It is not time to bump yet!" }}
    {{ end }}
{{ else }}
    {{ $globalDict.Set "Last Bump" $now }}
    {{/* lint:ignore database-global-write intentional-bump-tracking */}}
    {{ dbSet 0 "Global" $globalDict }}
    {{ $messageID = sendMessageRetID nil "`Last Bump` updated!" }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
{{ deleteMessage nil $messageID $deleteResponseDelay }}
