{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `.*`
*/ -}}

{{- /* replace this with the guest role ID in your server */ -}}
{{ $guestRoleID := 0 }}
{{- /* replace this with the member role ID in your server */ -}}
{{ $memberRoleID := 0 }}
{{ if and (hasRoleID $guestRoleID) (hasRoleID $memberRoleID) }}
    {{ takeRoleID .User.ID $guestRoleID }}
{{ end }}

{{- /* replace this with the active role ID in your server */ -}}
{{ $activeRoleID := 0 }}
{{ if and (not (hasRoleID $guestRoleID)) (not (hasRoleID $activeRoleID)) }}
    {{ giveRoleID .User.ID $activeRoleID }}
{{ end }}

{{- /* replace this with the inactive role ID in your server */ -}}
{{ $inactiveRoleID := 0 }}
{{ if hasRoleID $inactiveRoleID }}
    {{ takeRoleID .User.ID $inactiveRoleID }}
{{ end }}
