{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `alefbet`
  Dependencies: `embed_exec`, `gematria`
*/ -}}

{{- $dAlefbet := sdict
  "𐤀" "א" "𐤁" "ב" "𐤂" "ג" "𐤃" "ד" "𐤄" "ה" "𐤅" "ו" "𐤆" "ז" "𐤇" "ח" "𐤈" "ט"
  "𐤉" "י" "𐤊" "כ" "𐤋" "ל" "𐤌" "מ" "𐤍" "נ" "𐤎" "ס" "𐤏" "ע" "𐤐" "פ" "𐤑" "צ"
  "𐤒" "ק" "𐤓" "ר" "𐤔" "ש" "𐤕" "ת"
  "ا" "א" "ب" "ב" "ج" "ג" "د" "ד" "ه" "ה" "ة" "ה" "و" "ו" "ز" "ז" "ح" "ח" "ط" "ט"
  "ي" "י" "ك" "כ" "ل" "ל" "م" "מ" "ن" "נ" "س" "ס" "ع" "ע" "ف" "פ" "ص" "צ"
  "ق" "ק" "ر" "ר" "ش" "ש" "ت" "ת" "ث" "ש" "خ" "ח" "ذ" "ז" "ض" "צ" "ظ" "צ"
  "غ" "ע"
  "ى" "א" "آ" "א" "أ" "א" "إ" "א" "پ" "ב" "چ" "ג" "ؤ" "ו" "ژ" "ז"
  "ئ" "י" "گ" "כ" -}}

{{ $args := parseArgs 1 "Usage: [text]" (carg "string" "text") }}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $gematriaDict := (dbGet 0 "Gematria").Value }}
{{ $sofitDict := $gematriaDict.Get "Final Letters" }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $gematria := toInt ($commandsDict.Get "gematria") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $arg := $args.Get 0 }}
{{ $trimmedArg := reReplace "\\A[[:space:]]+" $arg "" }}
{{ $trimmedArg = reReplace "[[:space:]]+\\z" $trimmedArg "" }}

{{ $hasHebrew := false }}
{{ $hebrewText := "" }}
{{ $chars := split $arg "" }}
{{ $textLength := len $chars }}
{{- range $i := seq 0 $textLength -}}
  {{- $char := index $chars $i -}}
  {{- $hebrewChar := index $dAlefbet $char -}}
  {{- if $hebrewChar -}}
    {{- $hasHebrew = true -}}
    {{- if eq $i (sub $textLength 1) -}}
      {{- $hebrewChar = index $sofitDict $hebrewChar -}}
    {{- else -}}
      {{- $nextChar := index $chars (add 1 $i) -}}
      {{- $nextHebrewChar := index $dAlefbet $nextChar -}}
      {{- if not $nextHebrewChar -}}
        {{- $hebrewChar = index $sofitDict $hebrewChar -}}
      {{- end -}}
    {{- end -}}
    {{- $hebrewText = joinStr "" $hebrewText $hebrewChar -}}
  {{- else -}}
    {{- $hebrewText = joinStr "" $hebrewText $char -}}
  {{- end -}}
{{- end -}}

{{ if $hasHebrew }}
  {{ execCC $gematria $yagpdbChannelID 0 (sdict
    "AuthorID" .User.ID
    "ChannelID" .Channel.ID
    "Title" "Hebrew Converter"
    "Description" $hebrewText
    "Fields" (cslice (sdict "name" "Original Text" "value" $arg "inline" false))
  ) }}
{{ else }}
  {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "Title" "Invalid Argument"
    "Description" (joinStr "" "⚠️ The argument provided does not contain any valid text for conversion to Hebrew. Please try again.")
    "DeleteResponse" true
    "DeleteDelay" $deleteResponseDelay
  ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
