{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `atbash`
  Dependencies: `embed_exec`, `gematria`
*/ -}}

{{- $atbashDict := sdict
  "0" "9" "1" "8" "2" "7" "3" "6" "4" "5" "5" "4" "6" "3" "7" "2" "8" "1" "9" "0"
  "א" "ת" "ב" "ש" "ג" "ר" "ד" "ק" "ה" "צ" "ו" "פ" "ז" "ע" "ח" "ס" "ט" "נ"
  "י" "מ" "כ" "ל" "ל" "כ" "מ" "י" "נ" "ט" "ס" "ח" "ע" "ז" "פ" "ו" "צ" "ה"
  "ק" "ד" "ר" "ג" "ש" "ב" "ת" "א" "ך" "ל" "ם" "י" "ן" "ט" "ף" "ו" "ץ" "ה"
  "𐤀" "𐤕" "𐤁" "𐤔" "𐤂" "𐤓" "𐤃" "𐤒" "𐤄" "𐤑" "𐤅" "𐤐" "𐤆" "𐤏" "𐤇" "𐤎" "𐤈" "𐤍"
  "𐤉" "𐤌" "𐤊" "𐤋" "𐤋" "𐤊" "𐤌" "𐤉" "𐤍" "𐤈" "𐤎" "𐤇" "𐤏" "𐤆" "𐤐" "𐤅" "𐤑" "𐤄"
  "𐤒" "𐤃" "𐤓" "𐤂" "𐤔" "𐤁" "𐤕" "𐤀"
  "Α" "Ω" "Β" "Ψ" "Γ" "Χ" "Δ" "Φ" "Ε" "Υ" "Ϝ" "Ϡ" "Ϛ" "Ϙ" "Ζ" "Τ" "Η" "Σ" "Θ" "Ρ"
  "Ι" "Π" "Κ" "Ο" "Λ" "Ξ" "Μ" "Ν" "Ν" "Μ" "Ξ" "Λ" "Ο" "Κ" "Π" "Ι" "Ϙ" "Ϛ"
  "Ρ" "Θ" "Σ" "Η" "Τ" "Ζ" "Υ" "Ε" "Φ" "Δ" "Χ" "Γ" "Ψ" "Β" "Ω" "Α" "Ϡ" "Ϝ"
  "ᾼ" "Ω" "Ά" "Ω" "Ὰ" "Ω" "Ἀ" "Ω" "ᾈ" "Ω" "Ἄ" "Ω" "ᾌ" "Ω" "Ἂ" "Ω" "ᾊ" "Ω" "Ἆ" "Ω"
  "ᾎ" "Ω" "Ἁ" "Ω" "ᾉ" "Ω" "Ἅ" "Ω" "ᾍ" "Ω" "Ἃ" "Ω" "ᾋ" "Ω" "Ἇ" "Ω" "ᾏ" "Ω" "Ᾱ" "Ω"
  "Ᾰ" "Ω" "Έ" "Υ" "Ὲ" "Υ" "Ἐ" "Υ" "Ἔ" "Υ" "Ἒ" "Υ" "Ἑ" "Υ" "Ἕ" "Υ" "Ἓ" "Υ" "ῌ" "Υ"
  "Ή" "Σ" "Ὴ" "Σ" "Ἠ" "Σ" "ᾘ" "Σ" "Ἤ" "Σ" "ᾜ" "Σ" "Ἢ" "Σ" "ᾚ" "Σ" "Ἦ" "Σ" "ᾞ" "Σ"
  "Ἡ" "Σ" "ᾙ" "Σ" "Ἥ" "Σ" "ᾝ" "Σ" "Ἣ" "Σ" "ᾛ" "Σ" "Ἧ" "Σ" "ᾟ" "Σ"
  "Ί" "Π" "Ὶ" "Π" "Ἰ" "Π" "Ἴ" "Π" "Ἲ" "Π" "Ἶ" "Π" "Ἱ" "Π" "Ἵ" "Π" "Ἳ" "Π" "Ἷ" "Π"
  "Ϊ" "Π" "Ῑ" "Π" "Ῐ" "Π" "Ό" "Κ" "Ὸ" "Κ" "Ὀ" "Κ" "Ὄ" "Κ" "Ὂ" "Κ" "Ὁ" "Κ" "Ὅ" "Κ"
  "Ὃ" "Κ"
  "Ῥ" "Θ" "Ύ" "Ε" "Ὺ" "Ε" "Ὑ" "Ε" "Ὕ" "Ε" "Ὓ" "Ε" "Ὗ" "Ε" "Ϋ" "Ε" "Ῡ" "Ε" "Ῠ" "Ε"
  "Ώ" "Α" "Ὼ" "Α" "Ὠ" "Α" "ᾨ" "Α" "Ὤ" "Α" "ᾬ" "Α" "Ὢ" "Α" "ᾪ" "Α" "Ὦ" "Α" "ᾮ" "Α"
  "Ὡ" "Α" "ᾩ" "Α" "Ὥ" "Α" "ᾭ" "Α" "Ὣ" "Α" "ᾫ" "Α" "Ὧ" "Α" "ᾯ" "Α"
  "α" "ω" "β" "ψ" "γ" "χ" "δ" "φ" "ε" "υ" "ϝ" "ϡ" "ϛ" "ϙ" "ζ" "τ" "η" "σ" "θ" "ρ"
  "ι" "π" "κ" "ο" "λ" "ξ" "μ" "ν" "ν" "μ" "ξ" "λ" "ο" "κ" "π" "ι" "ϙ" "ϛ"
  "ρ" "θ" "σ" "η" "ς" "η" "τ" "ζ" "υ" "ε" "φ" "δ" "χ" "γ" "ψ" "β" "ω" "α" "ϡ" "ϝ"
  "ᾳ" "ω" "ά" "ω" "ᾴ" "ω" "ὰ" "ω" "ᾲ" "ω" "ᾶ" "ω" "ᾷ" "ω" "ἀ" "ω" "ᾀ" "ω" "ἄ" "ω"
  "ᾄ" "ω" "ἂ" "ω" "ᾂ" "ω" "ἆ" "ω" "ᾆ" "ω" "ἁ" "ω" "ᾁ" "ω" "ἅ" "ω" "ᾅ" "ω" "ἃ" "ω"
  "ᾃ" "ω" "ἇ" "ω" "ᾇ" "ω" "ᾱ" "ω" "ᾰ" "ω" "έ" "υ" "ὲ" "υ" "ἐ" "υ" "ἔ" "υ" "ἒ" "υ"
  "ἑ" "υ" "ἕ" "υ" "ἓ" "υ" "ῃ" "σ" "ή" "σ" "ῄ" "σ" "ὴ" "σ" "ῂ" "σ" "ῆ" "σ" "ῇ" "σ"
  "ἠ" "σ" "ᾐ" "σ" "ἤ" "σ" "ᾔ" "σ" "ἢ" "σ" "ᾒ" "σ" "ἦ" "σ" "ᾖ" "σ" "ἡ" "σ" "ᾑ" "σ"
  "ἥ" "σ" "ᾕ" "σ" "ἣ" "σ" "ᾓ" "σ" "ἧ" "σ" "ᾗ" "σ"
  "ί" "π" "ὶ" "π" "ῖ" "π" "ἰ" "π" "ἴ" "π" "ἲ" "π" "ἶ" "π" "ἱ" "π" "ἵ" "π" "ἳ" "π"
  "ἷ" "π" "ϊ" "π" "ΐ" "π" "ῒ" "π" "ῗ" "π" "ῑ" "π" "ῐ" "π" "ό" "κ" "ὸ" "κ" "ὀ" "κ"
  "ὄ" "κ" "ὂ" "κ" "ὁ" "κ" "ὅ" "κ" "ὃ" "κ"
  "ῤ" "θ" "ῥ" "θ" "ύ" "ε" "ὺ" "ε" "ῦ" "ε" "ὐ" "ε" "ὔ" "ε" "ὒ" "ε" "ὖ" "ε" "ὑ" "ε"
  "ὕ" "ε" "ὓ" "ε" "ὗ" "ε" "ϋ" "ε" "ΰ" "ε" "ῢ" "ε" "ῧ" "ε" "ῡ" "ε" "ῠ" "ε" "ῳ" "α"
  "ώ" "α" "ῴ" "α" "ὼ" "α" "ῲ" "α" "ῶ" "α" "ῷ" "α" "ὠ" "α" "ᾠ" "α" "ὤ" "α" "ᾤ" "α"
  "ὢ" "α" "ᾢ" "α" "ὦ" "α" "ᾦ" "α" "ὡ" "α" "ᾡ" "α" "ὥ" "α" "ᾥ" "α" "ὣ" "α" "ᾣ" "α"
  "ὧ" "α" "ᾧ" "α"
  "ا" "غ" "ب" "ظ" "ج" "ض" "د" "ذ" "ه" "خ" "ة" "خ" "و" "ث" "ز" "ت" "ح" "ش" "ط" "ر"
  "ي" "ق" "ك" "ص" "ل" "ف" "م" "ع" "ن" "س" "س" "ن" "ع" "م" "ف" "ل" "ص" "ك"
  "ق" "ي" "ر" "ط" "ش" "ح" "ت" "ز" "ث" "و" "خ" "ه" "ذ" "د" "ض" "ج" "ظ" "ب"
  "غ" "ا"
  "ى" "غ" "آ" "غ" "أ" "غ" "إ" "غ" "پ" "ظ" "چ" "ض" "ؤ" "ث" "ژ" "ت"
  "ئ" "ق" "گ" "ص"
  "A" "Z" "B" "Y" "C" "X" "D" "W" "E" "V" "F" "U" "G" "T" "H" "S" "I" "R"
  "K" "P" "L" "O" "M" "N" "N" "M" "O" "L" "P" "K" "Q" "J" "R" "I" "S" "H"
  "T" "G" "U" "F" "X" "C" "Y" "B" "Z" "A" "J" "Q" "V" "E" "W" "D"
  "a" "z" "b" "y" "c" "x" "d" "w" "e" "v" "f" "u" "g" "t" "h" "s" "i" "r"
  "k" "p" "l" "o" "m" "n" "n" "m" "o" "l" "p" "k" "q" "j" "r" "i" "s" "h"
  "t" "g" "u" "f" "x" "c" "y" "b" "z" "a" "j" "q" "v" "e" "w" "d"
  "Ă" "Z" "Â" "Z" "À" "Z" "Â" "Z" "Ç" "X" "É" "V" "È" "V" "Ê" "V" "Ë" "V" "Æ" "ZV"
  "Î" "R" "Ï" "R"
  "Ñ" "M" "Ô" "L" "Œ" "LV" "Ș" "H"
  "Ț" "G" "Ù" "F" "Û" "F" "Ü" "F" "Ÿ" "B"
  "ă" "z" "â" "z" "à" "z" "â" "z" "ç" "x" "é" "v" "è" "v" "ê" "v" "ë" "v" "æ" "zv"
  "î" "r" "ï" "r"
  "ñ" "m" "ô" "l" "œ" "lv" "ș" "h"
  "ț" "g" "ù" "f" "û" "f" "ü" "f" "ÿ" "b"
  "ᚠ" "ᛟ" "ᚢ" "ᛞ" "ᚦ" "ᛜ" "ᚨ" "ᛚ" "ᚱ" "ᛗ" "ᚲ" "ᛖ" "ᚷ" "ᛒ" "ᚹ" "ᛏ" "ᚺ" "ᛊ"
  "ᚾ" "ᛉ" "ᛁ" "ᛈ" "ᛃ" "ᛇ" "ᛇ" "ᛃ" "ᛈ" "ᛁ" "ᛉ" "ᚾ" "ᛊ" "ᚺ" "ᛏ" "ᚹ" "ᛒ" "ᚷ"
  "ᛖ" "ᚲ" "ᛗ" "ᚱ" "ᛚ" "ᚨ" "ᛜ" "ᚦ" "ᛞ" "ᚢ" "ᛟ" "ᚠ"
  "ᚡ" "ᛟ" "ᚣ" "ᛞ" "ᚤ" "ᛞ" "ᚥ" "ᛞ" "ᚧ" "ᛜ" "ᚩ" "ᛚ" "ᚪ" "ᛚ" "ᚫ" "ᛚ" "ᚬ" "ᛚ" "ᚭ" "ᛚ"
  "ᚮ" "ᛚ" "ᚯ" "ᛚ" "ᚰ" "ᛚ" "ᚳ" "ᛖ" "ᚴ" "ᛖ" "ᚵ" "ᛖ" "ᚶ" "ᛖ" "ᚸ" "ᛒ" "ᚻ" "ᛊ" "ᚼ" "ᛊ"
  "ᚽ" "ᛊ" "ᚿ" "ᛉ" "ᛀ" "ᛉ" "ᛂ" "ᛈ" "ᛄ" "ᛇ" "ᛅ" "ᛇ" "ᛆ" "ᛇ" "ᛡ" "ᛇ" "ᛦ" "ᚾ" "ᛧ" "ᚾ"
  "ᛨ" "ᚾ" "ᛋ" "ᚺ" "ᛌ" "ᚺ" "ᛍ" "ᚺ" "ᛎ" "ᚺ" "ᛐ" "ᚹ" "ᛑ" "ᚹ" "ᛠ" "ᚹ" "ᛓ" "ᚷ" "ᛔ" "ᚷ"
  "ᛕ" "ᚷ" "ᛘ" "ᚱ" "ᛙ" "ᚱ" "ᛛ" "ᚨ" "ᛝ" "ᚦ" -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $gematriaDict := (dbGet 0 "Gematria").Value }}
{{ $sofitDict := $gematriaDict.Get "Final Letters" }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $gematria := toInt ($commandsDict.Get "gematria") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{- $args := parseArgs 1 "Usage: [text from which to generate atbash]"
  (carg "string" "text") -}}
{{- $text := $args.Get 0 -}}

{{- $atbashString := "" -}}
{{- $words := reSplit "[[:space:]]+" $text }}
{{- $spaces := reSplit "[^[:space:]]+" $text }}
{{- range $i, $word := $words -}}
  {{- $atbashWord := "" -}}
  {{- $wordChars := split $word "" }}
  {{- $wordLength := len $wordChars -}}
  {{- range $j, $char := $wordChars -}}
    {{- $atbashLetter := index $atbashDict $char -}}
    {{- if $atbashLetter -}}
      {{- if and (gt $wordLength 1) (eq $j (sub $wordLength 1)) -}}
        {{- $sofitLetter := index $sofitDict $atbashLetter -}}
        {{- if $sofitLetter }}
          {{- $atbashLetter = $sofitLetter -}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{- $atbashLetter = $char -}}
    {{- end -}}
    {{- $atbashWord = joinStr "" $atbashWord $atbashLetter -}}
  {{- end -}}
  {{- $atbashString = joinStr (index $spaces $i) $atbashString $atbashWord -}}
{{- end -}}

{{ execCC $gematria $yagpdbChannelID 0 (sdict
  "AuthorID" .User.ID
  "ChannelID" .Channel.ID
  "Title" "Atbash Ciphertext"
  "Description" $atbashString
  "Fields" (cslice (sdict "name" "Plaintext" "value" $text "inline" false))
) }}

{{ deleteTrigger $deleteTriggerDelay }}
