{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `avatar`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $guildPremiumTier := toInt (dbGet $globalCategoryID "Guild Premium Tier").Value }}
{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $validSizes := cslice "32" "64" "128" "256" "512" "1024" }}
{{- /* regexes */ -}}
{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $snowflakeRegex := "\\d{16,}" }}
{{ $userIDRegex := joinStr "" "\\A" $snowflakeRegex "\\z"}}
{{ $fullURLRegex := joinStr "" $baseURLRegex $snowflakeRegex "/" $snowflakeRegex "/" $snowflakeRegex }}

{{- /* default argument values */ -}}
{{ $avatarArg := "" }}
{{ $sizeArg := "" }}

{{- /* default result values */ -}}
{{ $userID := "" }}
{{ $member := "" }}
{{ $defaultAvatarURL := (dbGet $globalCategoryID "Default Avatar").Value }}
{{ $avatarURL := "" }}
{{ $messageLink := 0 }}
{{ $size := "1024" }}
{{ $color := 0 }}

{{ if gt (len .CmdArgs) 0 }}
    {{ $avatarArg = index .CmdArgs 0 }}
    {{ if reFind $fullURLRegex $avatarArg }}
        {{ $messageLink = 1 }}
    {{ else if reFind $userIDRegex $avatarArg }}
        {{ $userID = reFind $userIDRegex $avatarArg }}
    {{ else }}
        {{ $userID = .User.ID }}
    {{ end }}

    {{- /* use size argument if present */ -}}
    {{ if eq (len .CmdArgs) 2 }}
        {{ $sizeArg = index .CmdArgs 1 }}
        {{ if in $validSizes $sizeArg }}
            {{ $size = $sizeArg }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ $userID = .User.ID }}
{{ end }}

{{ $avatarOwnerID := "(Unknown)" }}
{{ $avatarOwner := "(Unknown)" }}
{{ $avatarOwnerNickname := "" }}
{{ if $messageLink }}
    {{ $messageLink = reFind $fullURLRegex $avatarArg }}
    {{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
    {{ $gcmSlice := split $gcmString "/" }}

    {{ $guildID := index $gcmSlice 0 }}
    {{ $channelID := index $gcmSlice 1 }}
    {{ $messageID := index $gcmSlice 2 }}

    {{ $message := getMessage $channelID $messageID }}
    {{ $guildCheck := eq .Guild.ID (toInt $guildID) }}
    {{ if and $message $guildCheck }}
        {{ $msgAuthor := $message.Author }}
        {{ $authorUser := userArg $msgAuthor.ID }}
        {{ $avatarOwnerID = $msgAuthor.ID }}
        {{ $avatarOwner = or $authorUser.String (joinStr "" $msgAuthor.Username "#" $msgAuthor.Discriminator) }}
        {{ $member = getMember $msgAuthor.ID }}

        {{ $avatarURL = $msgAuthor.AvatarURL $size }}
    {{ end }}
{{ else }}
    {{ $user := userArg $userID }}
    {{ $member = getMember $userID }}
    {{ if $user }}
        {{ $avatarURL = $user.AvatarURL $size }}
        {{ $avatarOwnerID = $userID }}
        {{ $avatarOwner = $user.String }}
    {{ else if eq $avatarArg (toString .Guild.ID) }}
        {{ $avatarOwnerID = .Guild.ID }}
        {{ $avatarOwner = .Guild.Name }}

        {{ $gIconExtension := ".png" }}
        {{ if ge $guildPremiumTier 1 }}
            {{ $gIconExtension = ".gif" }}
        {{ end }}
        {{ $avatarURL = (joinStr ""
            "https://cdn.discordapp.com/icons/"
            (toString .Guild.ID) "/"
            .Guild.Icon $gIconExtension
            "?size=" $size
        ) }}
    {{ end }}
{{ end }}

{{ if $member }}
    {{ if $member.Nick }}
        {{ $avatarOwnerNickname = $member.Nick }}
    {{ end }}
    {{ $position := 0 }}
    {{ $roles := $member.Roles }}
    {{- range .Guild.Roles -}}
        {{- if and (in $roles .ID) (.Color) (lt $position .Position) -}}
            {{- $position = .Position -}}
            {{- $color = .Color -}}
        {{- end -}}
    {{- end -}}
{{ end }}

{{ $fields := cslice }}
{{ $fields = $fields.Append (sdict "name" "ID" "value" (toString $avatarOwnerID) "inline" false) }}
{{ $fields = $fields.Append (sdict "name" "Name" "value" $avatarOwner "inline" false) }}
{{ if $avatarOwnerNickname }}
    {{ $fields = $fields.Append (sdict "name" "Nickname" "value" $avatarOwnerNickname "inline" false) }}
{{ end }}
{{ if $messageLink }}
    {{ $msgLinkString := joinStr "" "🔗 [Click or tap here to view the message.](" $messageLink ")" }}
    {{ $fields = $fields.Append (sdict "name" "Original Message" "value" $msgLinkString "inline" false) }}
{{ end }}

{{ execCC $embed_exec nil 0 (sdict
    "AuthorID" .User.ID
    "Title" "Avatar Expander"
    "ImageURL" (or $avatarURL $defaultAvatarURL)
    "Fields" $fields
) }}

{{ deleteTrigger $deleteTriggerDelay }}
