{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `avatar`
*/ -}}

{{ $yagpdbUserID := 204255221017214977 }}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $guildPremiumTier := toInt (dbGet $globalCategoryID "Guild Premium Tier").Value }}
{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $validSizes := cslice "32" "64" "128" "256" "512" "1024" }}
{{ $modActions := cslice "Muted" "Kicked" "Banned" "Unmuted" "Unbanned" }}
{{ $whoisFields := cslice
    "ID" "Avatar" "Account Created" "Account Age" "Joined Server At"
    "Join Server Age" "Status" "5 last usernames" "5 last nicknames"
}}

{{- /* regex */ -}}
{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $snowflakeRegex := "\\d{16,}" }}
{{ $entityIDRegex := joinStr "" "\\A" $snowflakeRegex "\\z"}}
{{ $fullURLRegex := joinStr "" $baseURLRegex $snowflakeRegex "/" $snowflakeRegex "/" $snowflakeRegex }}

{{ $modActionRegex := joinStr "" "(\\*){2}.{1,}(" (joinStr "|" $modActions.StringSlice) ") "}}
{{ $usernameRegex := "[^#]{1,}(\\*){2}#\\d{4}" }} {{- /* yes, it's annoying that there are stars in the middle */ -}}
{{ $modActionLogRegex := joinStr "" $modActionRegex $usernameRegex " \\*\\(ID " $snowflakeRegex "\\)\\*" }}

{{- /* default argument values */ -}}
{{ $avatarArg := "" }}
{{ $sizeArg := "" }}

{{- /* default result values */ -}}
{{ $entityID := "" }}
{{ $user := "" }}
{{ $member := "" }}
{{ $defaultAvatarURL := (dbGet $globalCategoryID "Default Avatar").Value }}
{{ $avatarURL := "" }}
{{ $messageLink := 0 }}
{{ $size := "1024" }}
{{ $color := 0 }}

{{ if gt (len .CmdArgs) 0 }}
    {{ $avatarArg = index .CmdArgs 0 }}
    {{ if reFind $fullURLRegex $avatarArg }}
        {{ $messageLink = 1 }}
    {{ else if reFind $entityIDRegex $avatarArg }}
        {{ $entityID = reFind $entityIDRegex $avatarArg }}
    {{ else }}
        {{ $entityID = .User.ID }}
    {{ end }}

    {{- /* use size argument if present */ -}}
    {{ if eq (len .CmdArgs) 2 }}
        {{ $sizeArg = index .CmdArgs 1 }}
        {{ if in $validSizes $sizeArg }}
            {{ $size = $sizeArg }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ $entityID = .User.ID }}
{{ end }}

{{ $avatarOwnerID := $entityID }}
{{ $avatarOwner := "(Unknown)" }}
{{ $avatarOwnerNickname := "" }}
{{ if $messageLink }}
    {{ $messageLink = reFind $fullURLRegex $avatarArg }}
    {{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
    {{ $gcmSlice := split $gcmString "/" }}

    {{ $guildID := index $gcmSlice 0 }}
    {{ $channelID := index $gcmSlice 1 }}
    {{ $messageID := index $gcmSlice 2 }}

    {{ $message := getMessage $channelID $messageID }}
    {{ $guildCheck := eq .Guild.ID (toInt $guildID) }}
    {{ if and $message $guildCheck }}
        {{ $msgAuthor := $message.Author }}
        {{- /* check whether message link points to a YAGPDB mod action log or `whois` command output */ -}}
        {{ if eq $yagpdbUserID $msgAuthor.ID }}
            {{ $embeds := $message.Embeds }}
            {{ if $embeds }}
                {{ $embed := index $embeds 0 }}
                {{ $embedFields := $embed.Fields }}
                {{- /* if the message has embed fields, it might be `whois` command output */ -}}
                {{ if $embedFields }}
                    {{ $fieldsDict := sdict }}
                    {{ $matchesWhois := 1 }}
                    {{ range $field := $embedFields }}
                        {{ $fieldsDict.Set $field.Name $field.Value }}
                        {{- /* check for an *exact* match of field names */ -}}
                        {{ if not (in $whoisFields $field.Name) }}
                            {{ $matchesWhois = 0 }}
                        {{ end }}
                    {{ end }}
                    {{- /* we found `whois` command output, so let's grab the info */ -}}
                    {{ if $matchesWhois }}
                        {{ $avatarOwnerID = $fieldsDict.Get "ID" }}
                        {{ $avatarOwner = $embed.Title }}
                        {{ $avatarURL = joinStr "" $embed.Thumbnail.URL "?size=" $size }}
                    {{ end }}
                {{- /* mod action logs do not have embed fields; let's check those too */ -}}
                {{ else }}
                    {{ $embedDescription := $embed.Description }}
                    {{- /* we found a mod action log entry, so let's grab the info */ -}}
                    {{ if reFind $modActionLogRegex $embedDescription }}
                        {{ $usernameAndID := reReplace $modActionRegex $embedDescription "" }}
                        {{ $usernameWithStars := reFind $usernameRegex $usernameAndID }}

                        {{ $avatarOwnerID = reFind $snowflakeRegex $embedDescription }}
                        {{ $avatarOwner = reReplace "\\*\\*#" $usernameWithStars "#" }}
                        {{ $avatarURL = joinStr "" $embed.Thumbnail.URL "?size=" $size }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ $authorUser := userArg $msgAuthor.ID }}
            {{ $avatarOwnerID = $msgAuthor.ID }}
            {{ $avatarOwner = or $authorUser.String (joinStr "" $msgAuthor.Username "#" $msgAuthor.Discriminator) }}
            {{ $member = getMember $msgAuthor.ID }}

            {{ $avatarURL = $msgAuthor.AvatarURL $size }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ $user = userArg $entityID }}
    {{ $member = getMember $entityID }}
    {{ if $user }}
        {{ $avatarURL = $user.AvatarURL $size }}
        {{ $avatarOwner = $user.String }}
    {{ else if eq $entityID (toString .Guild.ID) }}
        {{ $avatarOwnerID = .Guild.ID }}
        {{ $avatarOwner = .Guild.Name }}

        {{ $gIconExtension := ".png" }}
        {{ if ge $guildPremiumTier 1 }}
            {{ $gIconExtension = ".gif" }}
        {{ end }}
        {{ $avatarURL = (joinStr ""
            "https://cdn.discordapp.com/icons/"
            (toString .Guild.ID) "/"
            .Guild.Icon $gIconExtension
            "?size=" $size
        ) }}
    {{ end }}
{{ end }}

{{ if $member }}
    {{ if $member.Nick }}
        {{ $avatarOwnerNickname = $member.Nick }}
    {{ end }}
    {{ $position := 0 }}
    {{ $roles := $member.Roles }}
    {{- range .Guild.Roles -}}
        {{- if and (in $roles .ID) (.Color) (lt $position .Position) -}}
            {{- $position = .Position -}}
            {{- $color = .Color -}}
        {{- end -}}
    {{- end -}}
{{ end }}

{{ $fields := cslice }}
{{ $fields = $fields.Append (sdict "name" "ID" "value" (toString $avatarOwnerID) "inline" false) }}
{{ $avatarOwnerTimestamp :=
    div $avatarOwnerID 4194304 | add 1420070400000 | mult 1000000 | toDuration | (newDate 1970 1 1 0 0 0).Add
}}
{{ $fields = $fields.Append (sdict "name" "Timestamp" "value" (toString $avatarOwnerTimestamp) "inline" false) }}
{{ $fields = $fields.Append (sdict "name" "Name" "value" $avatarOwner "inline" false) }}
{{ if $avatarOwnerNickname }}
    {{ $fields = $fields.Append (sdict "name" "Nickname" "value" $avatarOwnerNickname "inline" false) }}
{{ end }}
{{ if $messageLink }}
    {{ $msgLinkString := joinStr "" "🔗 [Click or tap here to view the message.](" $messageLink ")" }}
    {{ $fields = $fields.Append (sdict "name" "Original Message" "value" $msgLinkString "inline" false) }}
{{ end }}

{{ execCC $embed_exec .Channel.ID 0 (sdict
    "AuthorID" .User.ID
    "Title" "Avatar Expander"
    "ImageURL" (or $avatarURL $defaultAvatarURL)
    "Fields" $fields
) }}

{{ deleteTrigger $deleteTriggerDelay }}
