{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `avatar`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $validSizes := cslice "32" "64" "128" "256" "512" "1024" }}
{{ $user := .Member.User }}
{{ $size := "1024" }}

{{ $argUserID := toString $user.ID }}
{{ $argUser := "" }}
{{ $argSize := "" }}

{{ $avatarURL := $user.AvatarURL $size }}
{{ $avatarType := "User" }}
{{ $avatarOwner := $user.String }}

{{ if gt (len .CmdArgs) 0 }}
    {{ $argUserID = index .CmdArgs 0 }}
    {{ $argUser = userArg $argUserID }}

    {{ if eq (len .CmdArgs) 2 }}
        {{ $argSize = index .CmdArgs 1 }}
    {{ else if eq (len .CmdArgs) 1 }}
        {{ $argSize = $size }}
    {{ end }}
{{ end }}

{{ if in $validSizes $argSize }}
    {{ $size = $argSize }}
{{ end }}

{{ if $argUser }}
    {{ $user = $argUser }}
    {{ $avatarURL = $user.AvatarURL $size }}
    {{ $avatarOwner = $user.String }}
{{ else if reFind "\\A\\d{17,}\\z" $argUserID }}
    {{ if eq $argUserID (toString .Guild.ID) }}
        {{ $avatarType = "Guild" }}
        {{ $avatarOwner = .Guild.Name }}

        {{ $gIconBaseURL := "https://cdn.discordapp.com/icons/" }}
        {{ $gID := .Guild.ID }}
        {{ $gIconHash := .Guild.Icon }}

        {{ $avatarURL = or
            (joinStr "" $gIconBaseURL $gID "/" $gIconHash ".gif")
            (joinStr "" $gIconBaseURL $gID "/" $gIconHash ".png")
            (joinStr "" $gIconBaseURL $gID "/" $gIconHash ".jpg")
        }}
        {{ $avatarURL = joinStr "" $avatarURL "?size=" $size }}
    {{ end }}
{{ end }}

{{ $title := joinStr "" $avatarType " Avatar for " $avatarOwner }}
{{ execCC $embed_exec nil 0 (sdict "Title" $title "ImageURL" $avatarURL) }}

{{ deleteTrigger $deleteTriggerDelay }}
