{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Minute interval`
  Interval: `10`
  Dependencies: none
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}

{{ $lastBumpTime := (dbGet $globalCategoryID "Last Bump").Value }}
{{ $bumpRoleID := toInt (dbGet $rolesCategoryID "Bump Role ID").Value }}

{{ $bumpCooldownMinutes := 120 }}
{{ $now := currentTime }}
{{ $reminderMessage := joinStr "" "It is now time to bump **" .Guild.Name "**!" }}

{{ if $lastBumpTime }}
    {{ $minutesSinceBump := toInt ($now.Sub $lastBumpTime).Minutes }}
    {{ if gt $minutesSinceBump $bumpCooldownMinutes }}
        {{ sendMessage .Channel.ID $reminderMessage }}
        {{ if $bumpRoleID }}
            {{ mentionRoleID $bumpRoleID }}
        {{ else }}
            {{ sendMessage .Channel.ID (userArg .Guild.OwnerID).Mention }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ sendMessage .Channel.ID $reminderMessage }}
    {{ if $bumpRoleID }}
        {{ mentionRoleID $bumpRoleID }}
    {{ else }}
        {{ sendMessage .Channel.ID (userArg .Guild.OwnerID).Mention }}
    {{ end }}
{{ end }}
