{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `\A<#\d{16,}>\z`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}

{{ $defaultAvatar := (dbGet $globalCategoryID "Default Avatar").Value }}
{{ $embedColor := (toInt (dbGet $globalCategoryID "Embed Color").Value) }}
{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $staffRoleID := toInt (dbGet $rolesCategoryID "Staff Role ID").Value }}

{{ $trigger := .Message.Content }}
{{ $hereChannelID := toString .Channel.ID }}
{{ $thereChannelID := slice $trigger 2 (sub (len $trigger) 1) }}

{{ $thereChannel := getChannelOrThread $thereChannelID }}
{{ $selfLinkCheck := ne $hereChannelID $thereChannelID }}
{{ if and $thereChannel $selfLinkCheck }}
    {{ $thereMsgID := sendMessageRetID $thereChannelID (complexMessage "content" "Loading...") }}
    {{ if $thereMsgID }}
        {{ $hereMsgID := sendMessageRetID .Channel.ID (complexMessage "content" "Loading...") }}

        {{ $cLinkBaseUrl := "https://discord.com/channels" }}
        {{ $thereLink := joinStr "" $cLinkBaseUrl "/" .Guild.ID "/" $thereChannelID "/" $thereMsgID }}
        {{ $hereLink := joinStr "" $cLinkBaseUrl "/" .Guild.ID "/" $hereChannelID "/" $hereMsgID }}

        {{ $hereText := "" }}
        {{ $thereText := "" }}
        {{ if hasRoleID $staffRoleID }}
            {{ $hereText = joinStr ""
                "A staff member has moved this conversation to **#" $thereChannel.Name "**. Please go there now.\n\n"
                "🔗 [Click or tap here to move.](" $thereLink ")"
            }}
            {{ $thereText = joinStr ""
                "A staff member has moved a conversation from **#" .Channel.Name "** to here.\n\n"
                "🔗 [Click or tap here to return.](" $hereLink ")"
            }}
        {{ else }}
            {{ $hereText = joinStr ""
                "A server member has linked to **#" $thereChannel.Name "**.\n\n"
                "🔗 [Click or tap here to move.](" $thereLink ")"
            }}
            {{ $thereText = joinStr ""
                "A server member has linked from **#" .Channel.Name "** to here.\n\n"
                "🔗 [Click or tap here to return.](" $hereLink ")"
            }}
        {{ end }}

        {{ $title := "Channel Link" }}

        {{ $userFull := .User.String }}
        {{ if .Member.Nick }}
            {{ $userFull = joinStr "" .Member.Nick " (" .User.String ")" }}
        {{ end }}
        {{ $userLink := joinStr "" "https://discordapp.com/users/" .User.ID }}
        {{ $author := sdict "name" $userFull "url" $userLink "icon_url" (or (.User.AvatarURL "128") $defaultAvatar) }}
        {{ $authorColor := 0 }}
        {{ $position := 0 }}
        {{ $roles := .Member.Roles }}
        {{- range .Guild.Roles -}}
            {{- if and (in $roles .ID) (.Color) (lt $position .Position) -}}
                {{- $position = .Position -}}
                {{- $authorColor = .Color -}}
            {{- end -}}
        {{- end -}}
        {{ if not $authorColor }}
            {{ $authorColor = $embedColor }}
        {{ end }}

        {{ editMessage .Channel.ID $hereMsgID (complexMessageEdit
            "content" ""
            "embed" (cembed
                "title" $title
                "description" $hereText
                "color" $authorColor
                "author" $author
            )
        ) }}
        {{ editMessage $thereChannelID $thereMsgID (complexMessageEdit
            "content" ""
            "embed" (cembed
                "title" $title
                "description" $thereText
                "color" $authorColor
                "author" $author
            )
        ) }}
    {{ end }}

    {{ deleteTrigger $deleteTriggerDelay }}
{{ end }}
