{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `contrasts`
  Dependencies: `embed_exec`, `contrast`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $contrast := toInt ($commandsDict.Get "contrast") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB Channel ID") }}

{{ $colorRegex := "#?(\\d|[A-F]|[a-f]){6}" }}
{{ $discordIDRegex := "\\d{16,}" }}
{{- /* assuming YAGPDB premium subscription is active */ -}}
{{ $maxArgs := 10 }}

{{ $args := parseArgs 1 "Usage: `[colors as hex codes]` OR `[role IDs]`"
  (carg "string" "colors as hex codes OR role IDs")
}}

{{ $arg := $args.Get 0 }}
{{ $chosenArg := cslice }}
{{ $validArgPresent := false }}
{{ $colorHexArg := reFindAll $colorRegex $arg $maxArgs }}
{{ if gt (len ($colorHexArg)) 0 }}
  {{ $validArgPresent = true }}
  {{ $chosenArg = $colorHexArg }}
{{ end }}
{{ $roleIDArg := reFindAll $discordIDRegex $arg $maxArgs }}
{{ $role := "" }}
{{ if gt (len ($roleIDArg)) 0 }}
  {{ $role = .Guild.GetRole (toInt $roleIDArg) }}
  {{ if $role }}
    {{ $validArgPresent = true }}
    {{ $chosenArg = $roleIDArg }}
  {{ end }}
{{ end }}

{{ if $validArgPresent }}
  {{ $channelID := .Channel.ID }}
  {{- range $i, $curArg := $chosenArg -}}
    {{- execCC $contrast $yagpdbChannelID 0 (sdict
      "ChannelID" $channelID
      "Parameter" $curArg
    ) -}}
  {{- end -}}
{{ else }}
  {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "Title" "Invalid Argument"
    "Description" "⚠️ You must enter one or more role IDs **OR** colors in the required format (e.g. `#ff0000` for red)!"
    "DeleteResponse" true
    "DeleteDelay" $deleteResponseDelay
  ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
