{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `contrasts`
  Dependencies: `embed_exec`, `contrast`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}
{{ $execCCLimit := toInt ($globalDict.Get "ExecCC Limit") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $contrast := toInt ($commandsDict.Get "contrast") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $colorRegex := "\\A#?(\\d|[A-F]|[a-f]){6}\\z" }}
{{ $discordIDRegex := "\\A\\d{16,}\\z" }}

{{ $args := parseArgs 1 "Usage: `[colors as hex codes]` OR `[role IDs]`"
  (carg "string" "colors as hex codes OR role IDs")
}}

{{/* each word (split on anything but # and hex digits) that is a color or a role ID, up
  to the execCC limit */}}
{{ $chosenArg := cslice }}
{{- range $word := reSplit "[^#0-9A-Fa-f]+" ($args.Get 0) -}}
  {{- if lt (len $chosenArg) $execCCLimit -}}
    {{- if reFind $colorRegex $word -}}
      {{- $chosenArg = $chosenArg.Append $word -}}
    {{- else if reFind $discordIDRegex $word -}}
      {{- if $.Guild.GetRole (toInt $word) -}}
        {{- $chosenArg = $chosenArg.Append $word -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{ $validArgPresent := gt (len $chosenArg) 0 }}

{{ if $validArgPresent }}
  {{ $channelID := .Channel.ID }}
  {{- range $i, $curArg := $chosenArg -}}
    {{- execCC $contrast $yagpdbChannelID 0 (sdict
      "ChannelID" $channelID
      "Parameter" $curArg
    ) -}}
  {{- end -}}
{{ else }}
  {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "Title" "Invalid Argument"
    "Description" "⚠️ You must enter one or more role IDs **OR** colors in the required format (e.g. `#ff0000` for red)!"
    "DeleteResponse" true
    "DeleteDelay" $deleteResponseDelay
  ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
