{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `db`
*/ -}}

{{ $userID := .Member.User.ID }}
{{ $operation := "" }}
{{ $key := "" }}
{{ $value := "" }}
{{ $title := "" }}

{{ $isExec := or .ExecData.UserID .ExecData.Operation .ExecData.Key .ExecData.Value .ExecData.Title }}

{{ if $isExec }}
    {{ $userID = .ExecData.UserID }}
    {{ $operation = .ExecData.Operation }}
    {{ $key = .ExecData.Key }}
    {{ $value = .ExecData.Value }}
    {{ $title = .ExecData.Title }}
{{ else }}
    {{ if ge (len .CmdArgs) 1 }}
        {{ $operation = index .CmdArgs 0 }}
    {{ end }}

    {{ $opArray := split $operation ":" }}
    {{ if eq 2 (len $opArray) }}
        {{ $operation = index $opArray 0 }}
        {{ $opPartTwo := index $opArray 1 }}
        {{ if or (eq "0" $opPartTwo) (gt (toInt $opPartTwo) 0) }}
            {{ $userID = toInt $opPartTwo }}
        {{ end }}
    {{ end }}

    {{ if ge (len .CmdArgs) 2 }}
        {{ $key = index .CmdArgs 1 }}
    {{ end }}

    {{ if ge (len .CmdArgs) 3 }}
        {{ $value = index .CmdArgs 2 }}
    {{ end }}
{{ end }}

{{ $isDel := eq "del" $operation }}
{{ $isGet := eq "get" $operation }}
{{ $isSet := eq "set" $operation }}
{{ $operationCheck := or $isDel $isGet $isSet }}
{{ $valueCheck := or $value $isDel $isGet }}

{{ $nil := "`(nil)`" }}
{{ $resultText := "" }}
{{ $resultEmoji := "✅" }}
{{ if and $operationCheck $key $valueCheck }}
    {{ $ptAction := "" }}
    {{ if or $isDel $isGet }}
        {{ $value = (dbGet $userID $key).Value }}
        {{ if $isDel }}
            {{ $ptAction = "deleted" }}
            {{ dbDel $userID $key }}
        {{ else if $isGet }}
            {{ $ptAction = "retrieved" }}
        {{ end }}
    {{ else if $isSet }}
        {{ $ptAction = "set" }}
        {{ dbSet $userID $key $value }}
    {{ end }}

    {{ if $value }}
        {{ $resultText = joinStr "" "Value successfully " $ptAction "!" }}
    {{ else }}
        {{ $resultEmoji = "⚠️" }}
        {{ $resultText = "No value found!" }}
    {{ end }}
{{ else }}
    {{ $resultEmoji = "⚠️" }}
    {{ if not $operationCheck }}
        {{ $resultText = joinStr "" "Invalid operation provided: `" (or $operation $nil) "`" }}
    {{ else if not $key }}
        {{ $resultText = "You must provide a key!" }}
    {{ else if not $valueCheck }}
        {{ $resultText = "You must provide a value!" }}
    {{ end }}
{{ end }}

{{ $resultText = joinStr " " $resultEmoji $resultText }}

{{ $embedFieldLimit := sub 1024 4 }}
{{ if ge (len (toRune $value)) $embedFieldLimit }}
    {{ $value = joinStr "" (slice $value 0 $embedFieldLimit) "…" }}
{{ end }}

{{ if not (and $isExec .ExecData.Title) }}
    {{ $title = joinStr "" "Database Operation: `" $operation "`" }}
{{ end }}

{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ execCC $embed_exec nil 0 (sdict
    "Title" $title
    "Description" $resultText
    "AuthorID" $userID
    "Fields" (cslice
        (sdict "name" "User ID" "value" (joinStr "" "`" $userID "`") "inline" true)
        (sdict "name" "Key" "value" (joinStr "" "`" (or $key $nil) "`") "inline" true)
        (sdict "name" "Value" "value" (joinStr "" "`" (or $value $nil) "`") "inline" false)
    )
) }}

{{ deleteTrigger 5 }}
