{{- /*
  Author: Vladlena Costescu (@lbds137)
  ID: `15`
  Trigger type: `Command`
  Trigger: `db`
*/ -}}

{{ $member := .Member }}
{{ $userID := $member.User.ID }}

{{ $operation := "" }}
{{ if ge (len .CmdArgs) 1 }}
    {{ $operation = index .CmdArgs 0 }}
{{ end }}

{{ $opArray := split $operation ":" }}
{{ if eq 2 (len $opArray) }}
    {{ $operation = index $opArray 0 }}
    {{ $opPartTwo := index $opArray 1 }}
    {{ if or (eq "0" $opPartTwo) (gt (toInt $opPartTwo) 0) }}
        {{ $userID = toInt $opPartTwo }}
    {{ end }}
{{ end }}

{{ $key := "" }}
{{ if ge (len .CmdArgs) 2 }}
    {{ $key = index .CmdArgs 1 }}
{{ end }}

{{ $value := "" }}
{{ if ge (len .CmdArgs) 3 }}
    {{ $value = index .CmdArgs 2 }}
{{ end }}

{{ $isDel := eq "del" $operation }}
{{ $isGet := eq "get" $operation }}
{{ $isSet := eq "set" $operation }}
{{ $operationCheck := or $isDel $isGet $isSet }}
{{ $valueCheck := or $value $isDel $isGet }}

{{ $nil := "`(nil)`" }}
{{ $resultText := "" }}
{{ $resultEmoji := "✅" }}
{{ if and $operationCheck $key $valueCheck }}
    {{ $ptAction := "" }}
    {{ if or $isDel $isGet }}
        {{ $value = (dbGet $userID $key).Value }}
        {{ if $isDel }}
            {{ $ptAction = "deleted" }}
            {{ dbDel $userID $key }}
        {{ else if $isGet }}
            {{ $ptAction = "retrieved" }}
        {{ end }}
    {{ else if $isSet }}
        {{ $ptAction = "set" }}
        {{ dbSet $userID $key $value }}
    {{ end }}

    {{ if $value }}
        {{ $resultText = joinStr "" "Value successfully " $ptAction "!" }}
    {{ else }}
        {{ $resultEmoji = "⚠️" }}
        {{ $resultText = "No value found!" }}
    {{ end }}
{{ else }}
    {{ $resultEmoji = "⚠️" }}
    {{ if not $operationCheck }}
        {{ $resultText = joinStr "" "Invalid operation provided: `" (or $operation $nil) "`" }}
    {{ else if not $key }}
        {{ $resultText = "You must provide a key!" }}
    {{ else if not $valueCheck }}
        {{ $resultText = "You must provide a value!" }}
    {{ end }}
{{ end }}

{{ $resultText = joinStr " " $resultEmoji $resultText }}

{{ $userFull := $member.User.String }}
{{ if $member.Nick }}
    {{ $userFull = joinStr "" $member.Nick " (" $member.User.String ")" }}
{{ end }}
{{ $userLink := joinStr "" "https://discordapp.com/users/" $member.User.ID }}
{{ $userAvatar := $member.User.AvatarURL "128" }}
{{ $author := sdict "name" $userFull "url" $userLink "icon_url" $userAvatar }}

{{ $embedFieldLimit := sub 1024 4 }}
{{ if ge (len (toRune $value)) $embedFieldLimit }}
    {{ $value = joinStr "" (slice $value 0 $embedFieldLimit) "…" }}
{{ end }}

{{ $embed := cembed
    "author" $author
    "color" (toInt (dbGet .Guild.OwnerID "Embed Color").Value)
    "title" (joinStr "" "Database Operation: `" $operation "`")
    "description" $resultText
    "fields" (cslice
        (sdict "name" "User ID" "value" (joinStr "" "`" $userID "`") "inline" true)
        (sdict "name" "Key" "value" (joinStr "" "`" (or $key $nil) "`") "inline" true)
        (sdict "name" "Value" "value" (joinStr "" "`" (or $value $nil) "`") "inline" false)
    )
}}

{{ sendMessage nil $embed }}

{{ deleteTrigger 5 }}