{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `db_get_embed`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $key := "" }}
{{ $userID := .User.ID }}
{{ $authorID := $userID }}
{{ if .ExecData.Key }}
    {{ $key = .ExecData.Key }}
    {{ $userID = or .ExecData.UserID $userID }}
    {{ $authorID = .Guild.ID }}
{{ else if gt (len .CmdArgs) 0 }}
    {{ if gt (len .CmdArgs) 1 }}
        {{ if reFind "\\A\\d+\\z" (index .CmdArgs 0) }}
            {{ $userID = toInt (index .CmdArgs 0) }}
            {{ if userArg $userID }}
                {{ $authorID = $userID }}
            {{ else }}
                {{ $authorID = .Guild.ID }}
            {{ end }}
        {{ end }}
        {{ $key = index .CmdArgs 1 }}
    {{ else }}
        {{ $key = index .CmdArgs 0 }}
    {{ end }}
{{ end }}

{{ $title := "" }}
{{ $result := "" }}
{{ if $key }}
    {{ $title = $key }}
    {{ $result = or (dbGet $userID $key).Value "(no result found)" }}
    {{- /* format the value for user-friendly viewing */ -}}
    {{ if ne "string" (printf "%T" $result) }}
        {{ $result = joinStr "" "```\n" (json $result) "\n```" }}
    {{ end }}
{{ else }}
    {{ $title = "Missing Argument" }}
    {{ $result = "⚠️ You did not provide a key to look up!" }}
{{ end }}

{{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" (or .ExecData.ChannelID .Channel.ID)
    "Title" $title
    "Description" $result
    "AuthorID" $authorID
) }}

{{ deleteTrigger $deleteTriggerDelay }}
