{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `db_get_text`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $sDictType := "*templates.SDict" }}
{{ $stringType := "string" }}
{{ $noResult := "(no result found)" }}

{{ $key := "" }}
{{ $userID := .User.ID }}
{{ if .ExecData.Key }}
    {{ $key = .ExecData.Key }}
    {{ $userID = or .ExecData.UserID $userID }}
{{ else if gt (len .CmdArgs) 0 }}
    {{ if gt (len .CmdArgs) 1 }}
        {{ if reFind "\\A\\d+\\z" (index .CmdArgs 0) }}
            {{ $userID = toInt (index .CmdArgs 0) }}
        {{ end }}
        {{ $key = index .CmdArgs 1 }}
    {{ else }}
        {{ $key = index .CmdArgs 0 }}
    {{ end }}
{{ end }}

{{ $title := "" }}
{{ $result := "" }}
{{ if $key }}
    {{ $value := "" }}
    {{ $type := "" }}

    {{ $keyArray := split $key ":" }}
    {{ $parentValue := "" }}
    {{ $parentType := "" }}
    {{ $lastParentValue := "" }}
    {{ $firstSubkey := index $keyArray 0 }}
    {{ $lastSubkey := index $keyArray (sub (len $keyArray) 1) }}
    {{ if ge (len $keyArray) 2 }}
        {{ $parentValue = (dbGet $userID $firstSubkey).Value }}
        {{ $parentType = printf "%T" $parentValue }}
        {{ if and $parentValue (eq $sDictType $parentType) }}
            {{- range $subkey := $keyArray -}}
                {{ $title = joinStr " > " $title $subkey }}
                {{ if not $value }}
                    {{ if eq $firstSubkey $subkey }}
                        {{ $value = $parentValue }}
                        {{ $type = $parentType }}
                    {{ else }}
                        {{ $value = "" }}
                    {{ end }}
                {{ else if eq $sDictType $type }}
                    {{ $lastParentValue = $value }}
                    {{ $value = $value.Get $subkey }}
                    {{ $type = printf "%T" $value }}
                {{ end }}
            {{- end -}}
        {{ end }}
    {{ else }}
        {{ $title = $key }}
        {{ $value = (dbGet $userID $key).Value }}
    {{ end }}

    {{ $result = or $value $noResult }}
    {{ $type = printf "%T" $result }}

    {{- /* format the value for user-friendly viewing */ -}}
    {{ if ne $stringType $type }}
        {{ $result = joinStr "" "```\n" (json $result true) "\n```" }}
    {{ end }}
{{ else }}
    {{ $title = "Missing Argument" }}
    {{ $result = "⚠️ You did not provide a key to look up!" }}
{{ end }}

{{ sendMessage nil (joinStr "" "### " $title "\n\n" $result) }}

{{ deleteTrigger $deleteTriggerDelay }}
