{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `dice`
*/ -}}

{{ $args := parseArgs 1 "Usage: [number of dice]d[max face value]"
  (carg "string" "argument")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $arg := $args.Get 0 }}
{{ $trimmedArg := reReplace "\\A[[:space:]]+" $arg "" }}
{{ $trimmedArg = reReplace "[[:space:]]+\\z" $trimmedArg "" }}

{{ $diceArg := reFind "\\A\\d+d\\d+\\z" $trimmedArg }}
{{ $randRolls := "" }}
{{ $totalValue := 0 }}
{{ if $diceArg }}
    {{ $subArgs := split $diceArg "d" }}
    {{ $numDice := toInt (index $subArgs 0) }}
    {{ $maxValue := toInt (index $subArgs 1) }}
    {{- range $i := seq 0 $numDice -}}
        {{- $randRoll := toString (add 1 (randInt 0 $maxValue)) -}}
        {{- $randRolls = joinStr " " $randRolls $randRoll -}}
        {{- $totalValue = add $totalValue $randRoll -}}
    {{- end -}}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "AuthorID" .User.ID
        "ChannelID" .Channel.ID
        "Title" (joinStr "" "Dice Roller: " $diceArg " 🎲")
        "Description" $randRolls
        "Fields" (cslice
          (sdict "name" "Total" "value" (toString $totalValue) "inline" false)
        )
    ) }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Invalid Argument"
        "Description" (joinStr "" "⚠️ The argument provided does not match the required format. Please try again.")
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
