{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `embed`
*/ -}}

{{ $args := parseArgs 3
    (joinStr ""
        "Usage: `[Title]` `[Description]` `[Image URL]` `[Color (optional)]`. "
        "You may leave non-optional arguments blank (i.e. `\"\"`) but they __must__ be present."
    )
    (carg "string" "key")
    (carg "string" "value")
    (carg "string" "image URL")
    (carg "string" "color (optional)")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ execCC $embed_exec nil 0 (sdict
    "Title" ($args.Get 0)
    "Description" ($args.Get 1)
    "ImageURL" ($args.Get 2)
    "Color" (toInt ($args.Get 3))
) }}

{{ deleteTrigger $deleteTriggerDelay }}
