{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `None`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $serverURL := or (dbGet $globalCategoryID "Server URL").Value "" }}
{{ $dbEmbedColor := toInt (dbGet $globalCategoryID "Embed Color").Value }}
{{ $guildPremiumTier := toInt (dbGet $globalCategoryID "Guild Premium Tier").Value }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}

{{ $descriptionMaxLen := sub 2000 2 }}
{{ $author := "" }}
{{ $authorColor := 0 }}
{{ $execAuthorValid := reFind "\\A\\d{16,}\\z" (toString .ExecData.AuthorID) }}
{{ $execAuthorNotGuild := ne (toString .ExecData.AuthorID) (toString .Guild.ID) }}
{{ if and $execAuthorValid $execAuthorNotGuild }}
    {{ $member := getMember .ExecData.AuthorID }}
    {{ $userFull := $member.User.String }}
    {{ if $member.Nick }}
        {{ $userFull = joinStr "" $member.Nick " (" $member.User.String ")" }}
    {{ end }}
    {{ $userLink := joinStr "" "https://discordapp.com/users/" $member.User.ID }}
    {{ $author = sdict "name" $userFull "url" $userLink "icon_url" ($member.User.AvatarURL "128") }}
    {{ $position := 0 }}
    {{ $roles := $member.Roles }}
    {{- range .Guild.Roles -}}
        {{- if and (in $roles .ID) (.Color) (lt $position .Position) -}}
            {{- $position = .Position -}}
            {{- $authorColor = .Color -}}
        {{- end -}}
    {{- end -}}
{{ else }}
    {{ $gIconExtension := ".png" }}
    {{ if ge $guildPremiumTier 1 }}
        {{ $gIconExtension = ".gif" }}
    {{ end }}
    {{ $gIcon := "" }}
    {{ if .Guild.Icon }}
        {{ $gIcon = (joinStr "" "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon $gIconExtension) }}
    {{ else }}
        {{ $gIcon = (dbGet $globalCategoryID "Default Avatar").Value }}
    {{ end }}
    {{ $author = sdict "name" .Guild.Name "url" $serverURL "icon_url" $gIcon }}
    {{ $authorColor = $dbEmbedColor }}
{{ end }}

{{ $description := .ExecData.Description }}
{{ if $description }}
    {{ $description = (joinStr "" "‎" $description) }}
    {{ $description = reReplace `\n` $description "\n‎" }}
    {{ if ge (len (toRune $description)) $descriptionMaxLen }}
        {{ $description = joinStr "" (slice $description 0 $descriptionMaxLen) "…" }}
    {{ end }}
{{ end }}
{{ $embed := cembed
    "title" .ExecData.Title
    "description" $description
    "fields" .ExecData.Fields
    "color" (or .ExecData.Color $authorColor)
    "author" $author
    "image" (sdict "url" .ExecData.ImageURL)
    "thumbnail" (sdict "url" .ExecData.ThumbnailURL)
}}

{{ $targetChannel := or .ExecData.ChannelID .Channel.ID }}
{{ $messageID := sendMessageRetID $targetChannel $embed }}
{{ if .ExecData.DeleteResponse }}
    {{ deleteMessage $targetChannel $messageID (or .ExecData.DeleteDelay $deleteResponseDelay) }}
{{ end }}
