{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `embed`
*/ -}}

{{ $URLRegex := "\\Ahttps?://[[:graph:]]" }}
{{ $hexRegex := "\\A#(\\d|[A-F]|[a-f]){6}\\z" }}
{{ $hexDict := sdict
    "0" 0 "1" 1 "2" 2 "3" 3 "4" 4 "5" 5 "6" 6 "7" 7 "8" 8 "9" 9
    "a" 10 "b" 11 "c" 12 "d" 13 "e" 14 "f" 15
}}

{{ $args := parseArgs 2
    (joinStr ""
        "Usage: `[Title]` `[Description]` `[Image URL] (optional)` `[Color (optional)]`. "
        "You may leave non-optional arguments blank (i.e. `\"\"`) but they __must__ be present."
    )
    (carg "string" "key")
    (carg "string" "value")
    (carg "string" "image URL (optional)")
    (carg "string" "color (optional)")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $imageURLArg := $args.Get 2 }}
{{ $imageURL := "" }}
{{ if eq "string" (printf "%T" $imageURLArg) }}
    {{ if reFind $URLRegex $imageURLArg }}
        {{ $imageURL = $imageURLArg }}
    {{ end }}
{{ end }}

{{ $colorArg := $args.Get 3 }}
{{ $colorVal := 0 }}
{{ if eq "string" (printf "%T" $colorArg) }}
    {{ if reFind $hexRegex $colorArg }}
        {{ $hexStr := split (slice $colorArg 1) "" }}
        {{ range $i, $iRevNeg := seq -5 1 }}
            {{ $iRev := mult -1 $iRevNeg }}
            {{ $curValHexStr := index $hexStr $iRev }}
            {{ $curValInt := index $hexDict $curValHexStr }}
            {{ $colorVal = add $colorVal (mult (pow 16 $i) $curValInt) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "Title" ($args.Get 0)
    "Description" ($args.Get 1)
    "ImageURL" $imageURL
    "Color" $colorVal
) }}

{{ deleteTrigger $deleteTriggerDelay }}
