{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `None`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $serverURL := or (dbGet $globalCategoryID "Server URL").Value "" }}
{{ $dbEmbedColor := toInt (dbGet $globalCategoryID "Embed Color").Value }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}

{{ $author := "" }}
{{ $execAuthorValid := reFind "\\A\\d{17,}\\z" (toString .ExecData.AuthorID) }}
{{ $execAuthorNotGuild := ne (toString .ExecData.AuthorID) (toString .Guild.ID) }}
{{ if and $execAuthorValid $execAuthorNotGuild }}
    {{ $member := getMember .ExecData.AuthorID }}
    {{ $userFull := $member.User.String }}
    {{ if $member.Nick }}
        {{ $userFull = joinStr "" $member.Nick " (" $member.User.String ")" }}
    {{ end }}
    {{ $userLink := joinStr "" "https://discordapp.com/users/" $member.User.ID }}
    {{ $author = sdict "name" $userFull "url" $userLink "icon_url" ($member.User.AvatarURL "128") }}
{{ else }}
    {{ $gIcon := (joinStr "" "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon ".gif") }}
    {{ $author = sdict "name" .Guild.Name "url" $serverURL "icon_url" $gIcon }}
{{ end }}

{{ $embed := cembed
    "title" .ExecData.Title
    "description" .ExecData.Description
    "fields" .ExecData.Fields
    "color" (or .ExecData.Color $dbEmbedColor)
    "author" $author
    "image" (sdict "url" .ExecData.ImageURL)
    "thumbnail" (sdict "url" .ExecData.ThumbnailURL)
}}

{{ $messageID := sendMessageRetID .ExecData.Channel $embed }}
{{ if .ExecData.DeleteResponse }}
    {{ deleteMessage .ExecData.Channel $messageID (or .ExecData.DeleteDelay $deleteResponseDelay) }}
{{ end }}