{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `\A#?(\d|[A-F]|[a-f]){6}\z`
  Dependencies: `embed_exec`
*/ -}}

{{ $hexDict := sdict
    "0" 0 "1" 1 "2" 2 "3" 3 "4" 4 "5" 5 "6" 6 "7" 7 "8" 8 "9" 9
    "a" 10 "b" 11 "c" 12 "d" 13 "e" 14 "f" 15
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $trigger := lower (or .ExecData.Hex .Message.Content) }}
{{ if not (hasPrefix $trigger "#") }}
    {{ $trigger = joinStr "" "#" $trigger }}
{{ end }}
{{ $hexStr := split (reReplace "#" $trigger "") "" }}

{{ $intVal := 0 }}
{{ range $i, $iRevNeg := seq -5 1 }}
    {{ $iRev := mult -1 $iRevNeg }}
    {{ $curValHexStr := index $hexStr $iRev }}
    {{ $curValInt := index $hexDict $curValHexStr }}
    {{ $intVal = add $intVal (mult (pow 16 $i) $curValInt) }}
{{ end }}

{{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "AuthorID" .Message.Author.ID
    "ChannelID" (or .ExecData.ChannelID .Channel.ID)
    "Title" (or .ExecData.Title "Color Inspector")
    "Description" (joinStr "" "`" $trigger "`")
    "Fields" (cslice
        (sdict "name" "Integer Value" "value" (joinStr "" "`" $intVal "`") "inline" false)
    )
    "Color" $intVal
) }}

{{ deleteTrigger $deleteTriggerDelay }}
