{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `\A#[\d|A-F]{6}\z`
  Dependencies: `embed_exec`
*/ -}}

{{ $hexDict := sdict
    "0" 0 "1" 1 "2" 2 "3" 3 "4" 4 "5" 5 "6" 6 "7" 7 "8" 8 "9" 9
    "a" 10 "b" 11 "c" 12 "d" 13 "e" 14 "f" 15
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $trigger := lower (or .ExecData.Hex .Message.Content) }}
{{ $hexStr := split (reReplace "#" $trigger "") "" }}

{{ $intVal := 0 }}
{{ range $i, $iRevNeg := seq -5 1 }}
    {{ $iRev := mult -1 $iRevNeg }}
    {{ $curValHexStr := index $hexStr $iRev }}
    {{ $curValInt := index $hexDict $curValHexStr }}
    {{ $intVal = add $intVal (mult (pow 16 $i) $curValInt) }}
{{ end }}

{{ execCC $embed_exec .Channel.ID 0 (sdict
    "AuthorID" .Message.Author.ID
    "Title" (or .ExecData.Title "Color Inspector")
    "Description" (joinStr "" "`" $trigger "`")
    "Fields" (cslice
        (sdict "name" "Integer Value" "value" (joinStr "" "`" $intVal "`") "inline" false)
    )
    "Color" $intVal
) }}

{{ deleteTrigger $deleteTriggerDelay }}
