{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `hugemoji`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}
{{ $execCCLimit := toInt ($globalDict.Get "ExecCC Limit") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}

{{ $rolesDict := (dbGet 0 "Roles").Value }}
{{ $staffRoleID := toInt ($rolesDict.Get "Staff") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $emojiRegex := "<a?:[[:word:]]{2,}:\\d{16,}>" }}
{{ $animatedEmojiRegex := "<a:[[:word:]]{2,}:\\d{16,}>" }}
{{ $emojiIDRegex := "\\d{16,}" }}
{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullURLRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}

{{ $args := parseArgs 1 "Usage: `[emoji(s) and / or message link(s)]`"
  (carg "string" "emoji(s) and / or message link(s)")
}}
{{ $arg := $args.Get 0 }}

{{ $emojiStrMsgLinkDict := sdict }}
{{ $index := 0 }}
{{- range $emojiStr := reFindAll $emojiRegex $arg -}}
  {{- $emojiStrMsgLinkDict.Set $emojiStr (sdict "index" $index "emojiString" $emojiStr "messageLink" "") -}}
  {{- $index = add 1 $index -}}
{{- end -}}

{{ $msgLinks := reFindAll $fullURLRegex $arg }}
{{ $triggerMsgObj := .Message }}
{{ $triggerMsg := $triggerMsgObj.Content }}
{{ $staffCheck := hasRoleID $staffRoleID }}
{{ $thisChannelNSFW := (getChannelOrThread $triggerMsgObj.ChannelID).NSFW }}
{{- range $msgLink := $msgLinks -}}
  {{- $msgLinkSlice := split $msgLink "/" -}}
  {{- $mlsLen := len $msgLinkSlice -}}
  {{- $guildID := index $msgLinkSlice (sub $mlsLen 3) -}}
  {{- $channelID := index $msgLinkSlice (sub $mlsLen 2) -}}
  {{- $messageID := index $msgLinkSlice (sub $mlsLen 1) -}}
  {{- $msg := getMessage $channelID $messageID -}}

  {{- $guildCheck := eq $triggerMsgObj.GuildID (toInt $guildID) -}}
  {{- $thatChannelNSFW := false -}}
  {{- if getChannelOrThread $channelID -}}
    {{- $thatChannelNSFW = (getChannelOrThread $channelID).NSFW -}}
  {{- end -}}
  {{- $nsfwCheck := or (not $thatChannelNSFW) (and $thisChannelNSFW $thatChannelNSFW) -}}

  {{- if and $msg $guildCheck (or $staffCheck $nsfwCheck) -}}
    {{- range $emojiStr := reFindAll $emojiRegex $msg.Content -}}
      {{- $emojiStrMsgLinkDict.Set $emojiStr (sdict "index" $index "emojiString" $emojiStr "messageLink" $msgLink) -}}
      {{- $index = add 1 $index -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{ $dictSortHelper := cslice }}
{{- range $k, $v := $emojiStrMsgLinkDict -}}
  {{- $dictSortHelper = $dictSortHelper.Append $v -}}
{{- end -}}
{{ $dictSortHelper = sort $dictSortHelper (sdict "key" "index" "reverse" false) }}

{{ $userID := .User.ID }}
{{ $channelID := .Channel.ID }}
{{ $tooManyEmojis := false }}
{{- range $i, $entry := $dictSortHelper -}}
  {{- $emojiStr := $entry.Get "emojiString" -}}
  {{- $msgLink := $entry.Get "messageLink" }}
  {{- if lt $i $execCCLimit -}}
    {{- $fileExtension := ".png" -}}
    {{- if reFind $animatedEmojiRegex $emojiStr -}}
      {{- $fileExtension = ".gif" -}}
    {{- end -}}
    {{- $emojiStrParts := split $emojiStr ":" -}}
    {{- $emojiName := index $emojiStrParts 1 -}}
    {{- $emojiUrl := joinStr ""
      "https://cdn.discordapp.com/emojis/" (reFind $emojiIDRegex $emojiStr) $fileExtension "?v=1" -}}

    {{- $fields := cslice (sdict "name" "Name" "value" $emojiName "inline" false) -}}
    {{- if $msgLink -}}
      {{- $msgLinkString := joinStr "" "🔗 [Click or tap here to view the message.](" $msgLink ")" -}}
      {{- $fields = $fields.Append (sdict "name" "Original Message" "value" $msgLinkString "inline" false) -}}
    {{ end }}

    {{- execCC $embed_exec $yagpdbChannelID 0 (sdict
      "AuthorID" $userID
      "ChannelID" $channelID
      "Title" "Emoji Expander"
      "ImageURL" $emojiUrl
      "Fields" $fields
    ) -}}
  {{- else if not $tooManyEmojis -}}
    {{- $tooManyEmojis = true -}}
  {{- end -}}
{{- end -}}

{{ deleteTrigger $deleteTriggerDelay }}

{{ if $tooManyEmojis }}
  {{- /* timing is notoriously unreliable with `execCC` so wait a while before sending the error message */ -}}
  {{ sleep 10 }}
  {{ $emojiIgnoredCount := sub (len $dictSortHelper) $execCCLimit }}
  {{ $subjectAndVerb := "" }}
  {{ if eq 1 $emojiIgnoredCount }}
    {{ $subjectAndVerb = "emoji was" }}
  {{ else }}
    {{ $subjectAndVerb = "emojis were" }}
  {{ end }}
  {{ $errorMsgID := sendMessageRetID $channelID (joinStr " "
    "⚠️ Warning:" $emojiIgnoredCount $subjectAndVerb "not displayed because only" $execCCLimit "emojis can be expanded at a time."
  ) }}
  {{ deleteMessage $channelID $errorMsgID $deleteResponseDelay }}
{{ end }}
