{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `hugemoji`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $staffRoleID := toInt (dbGet $rolesCategoryID "Staff Role ID").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $emojiRegex := "<a?:[[:word:]]{2,}:\\d{16,}>" }}
{{ $animatedEmojiRegex := "<a:[[:word:]]{2,}:\\d{16,}>" }}
{{ $emojiIDRegex := "\\d{16,}" }}
{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullURLRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}

{{ $args := parseArgs 1 "Usage: `[emoji or message link] [index of desired emoji (optional)]`"
    (carg "string" "emoji or message link")
    (carg "int" "index of desired emoji (optional)")
}}

{{ $emojiArg := $args.Get 0 }}
{{ $indexArg := 1 }}
{{ if $args.IsSet 1 }}
    {{ $indexArg = $args.Get 1 }}
{{ end }}
{{ $emojiStrings := "" }}
{{ $messageLink := "" }}

{{ $emojiStrings = reFindAll $emojiRegex $emojiArg }}
{{ if and (not $emojiStrings) (reFind $fullURLRegex $emojiArg) }}
    {{ $triggerMsgObj := .Message }}
    {{ $triggerMsg := $triggerMsgObj.Content }}
    {{ $messageLink = reFind $fullURLRegex $triggerMsg }}

    {{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
    {{ $gcmSlice := split $gcmString "/" }}
    {{ $guildID := index $gcmSlice 0 }}
    {{ $channelID := index $gcmSlice 1 }}
    {{ $messageID := index $gcmSlice 2 }}
    {{ $message := getMessage $channelID $messageID }}

    {{ $guildCheck := eq $triggerMsgObj.GuildID (toInt $guildID) }}
    {{ $staffCheck := hasRoleID $staffRoleID }}
    {{ $thisChannelNSFW := (getChannelOrThread $triggerMsgObj.ChannelID).NSFW }}
    {{ $thatChannelNSFW := "" }}
    {{ if getChannelOrThread $channelID }}
        {{ $thatChannelNSFW = (getChannelOrThread $channelID).NSFW }}
    {{ end }}
    {{ $nsfwCheck := or (not $thatChannelNSFW) (and $thisChannelNSFW $thatChannelNSFW) }}

    {{ if and $message $guildCheck (or $staffCheck $nsfwCheck) }}
        {{ $emojiStrings = reFindAll $emojiRegex $message.Content }}
    {{ end }}
{{ end }}

{{ if $emojiStrings }}
    {{ $emojiString := index $emojiStrings (sub $indexArg 1) }}
    {{ $fileExtension := ".png" }}
    {{ if reFind $animatedEmojiRegex $emojiString }}
        {{ $fileExtension = ".gif" }}
    {{ end }}
    {{ $emojiStringParts := split $emojiString ":" }}
    {{ $emojiName := index $emojiStringParts 1 }}
    {{ $emojiUrl := joinStr ""
        "https://cdn.discordapp.com/emojis/"
        (reFind $emojiIDRegex $emojiString)
        $fileExtension
        "?v=1"
    }}

    {{ $fields := cslice (sdict "name" "Name" "value" $emojiName "inline" false) }}
    {{ if $messageLink }}
        {{ $msgLinkString := joinStr "" "🔗 [Click or tap here to view the message.](" $messageLink ")" }}
        {{ $fields = $fields.Append (sdict "name" "Original Message" "value" $msgLinkString "inline" false) }}
    {{ end }}

    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "AuthorID" .User.ID
        "ChannelID" .Channel.ID
        "Title" "Emoji Expander"
        "ImageURL" $emojiUrl
        "Fields" $fields
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
