{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `kb`
  Dependencies: `embed_exec`, `db_get_embed`
*/ -}}

{{ $args := parseArgs 1 (joinStr "" "Please enter a topic to look up in the knowledge base.")
    (carg "string" "key")
}}

{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}
{{ $knowledgeCategoryID := toInt (dbGet 0 "Knowledge").Value }}

{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $db_get_embed := toInt (dbGet $commandsCategoryID "db_get_embed").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $key := $args.Get 0 }}
{{ if $key }}
    {{ execCC $db_get_embed $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "UserID" $knowledgeCategoryID
        "Key" (title $key)
    ) }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Knowledge Base Lookup Failed"
        "Description" "⚠️ You did not provide a topic to look up!"
    ) }}
{{ end }}
