{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `https://(ptb.|canary.)?discord(?:app)?.com/channels/\d{16,}/\d{16,}/\d{16,}`
*/ -}}

{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}
{{ $title := "Message Link" }}
{{ $embedFieldLimit := sub 1024 2 }}

{{- /* DB */ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}

{{ $prefix := or (dbGet $globalCategoryID "Command Prefix").Value "-" }}
{{ $defaultAvatar := (dbGet $globalCategoryID "Default Avatar").Value }}
{{ $defaultEmbedColor := toInt (dbGet $globalCategoryID "Embed Color").Value }}
{{ $guildPremiumTier := toInt (dbGet $globalCategoryID "Guild Premium Tier").Value }}
{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}

{{ $staffRoleID := toInt (dbGet $rolesCategoryID "Staff Role ID").Value }}

{{- /* get message */ -}}

{{ $triggerMsgObj := or .ExecData.Message .Message }}
{{ $triggerMsg := $triggerMsgObj.Content }}
{{ $trigger := or .ExecData.MessageLink (reFind $fullRegex $triggerMsg) }}

{{ $gcmString := reReplace $baseURLRegex $trigger "" }}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}
{{ $msg := getMessage $channelID $messageID }}

{{- /* perform checks */ -}}

{{ $execDataCheck := .ExecData.Message }}
{{ $ignoreCheck := not (or
  (reFind (joinStr "" "\\A\\Q" $prefix "\\E") $triggerMsg)
  (reFind (joinStr "" "`[^`]*" $trigger "[^`]*`") $triggerMsg)
) }}
{{ $guildCheck := eq $triggerMsgObj.GuildID (toInt $guildID) }}
{{ $staffCheck := hasRoleID $staffRoleID }}
{{ $originNSFW := (getChannelOrThread $triggerMsgObj.ChannelID).NSFW }}
{{ $targetChannel := getChannelOrThread $channelID }}
{{ $targetNSFW := "" }}
{{ if $targetChannel }}
  {{ $targetNSFW = $targetChannel.NSFW }}
{{ end }}
{{ $nsfwCheck := or (not $targetNSFW) (and $originNSFW $targetNSFW) }}

{{- /* link message if checks pass */ -}}

{{ if and $msg (or $execDataCheck $ignoreCheck) $guildCheck (or $staffCheck $nsfwCheck) }}
  {{ $triggerContent := reReplace $fullRegex $triggerMsg "" }}
  {{ $triggerContent = reReplace "\\A\\s+" $triggerContent "" }}
  {{ $triggerContent = reReplace "\\s+\\z" $triggerContent "" }}

  {{ $embed := "" }}
  {{ $embedTitle := "" }}
  {{ $msgEmbeds := $msg.Embeds }}
  {{ if gt (len $msgEmbeds) 0 }}
    {{ $embed = index $msgEmbeds 0 }}
    {{ if $embed.Title }}
      {{ $embedTitle = $embed.Title }}
    {{ end }}
  {{ end }}
  {{ $isMessageLink := eq $embedTitle $title }}

  {{- /* if linked message is a message link, use its embed; else, make a new embed */ -}}

  {{ $resultEmbed := "" }}
  {{ $resultEmbedColor := 0 }}
  {{ if $isMessageLink }}
    {{ $resultEmbed = $embed }}
  {{ else }}
    {{ $attachmentUrls := "" }}
    {{ $image := "" }}
    {{ $thumbnail := "" }}

    {{ $embedColor := 0 }}
    {{ $embedAuthor := "" }}
    {{ $embedProvider := "" }}
    {{ $embedDescription := "" }}
    {{ $embedFields := "" }}
    {{ $embedFooter := "" }}

    {{- /* linked message author & authorColor */ -}}

    {{ $msgAuthor := $msg.Author }}
    {{ $user := userArg $msgAuthor.ID }}
    {{ $authorFull := or $user.String (joinStr "" $msgAuthor.Username "#" $msgAuthor.Discriminator) }}
    {{ $authorColor := 0 }}
    {{ $msgAuthorMember := getMember $msgAuthor.ID }}
    {{ if and $msgAuthorMember (not $user.Bot) }}
      {{ if $msgAuthorMember.Nick }}
        {{ $authorFull = joinStr "" $msgAuthorMember.Nick " (" $msgAuthorMember.User.String ")" }}
      {{ end }}
      {{ $pos := 0 }}
      {{ $roles := $msgAuthorMember.Roles }}
      {{- range .Guild.Roles -}}
        {{- if and (in $roles .ID) (.Color) (lt $pos .Position) -}}
          {{- $pos = .Position -}}
          {{- $authorColor = .Color -}}
        {{- end -}}
      {{- end -}}
    {{ end }}
    {{ $userLink := "" }}
    {{ if $user }}
      {{ $userLink = joinStr "" "https://discord.com/users/" $msgAuthor.ID }}
    {{ end }}
    {{ $author := sdict
      "name" $authorFull "url" $userLink "icon_url" (or ($msgAuthor.AvatarURL "128") $defaultAvatar)
    }}

    {{- /* linked message attachments */ -}}

    {{ $msgAttachments := $msg.Attachments }}
    {{ if gt (len $msgAttachments) 0 }}
      {{ $firstAttachment := index $msgAttachments 0 }}
      {{ $image = $firstAttachment.URL }}

      {{ range $i, $attachment := $msgAttachments }}
        {{ $link := joinStr "" "[" $attachment.URL "]" }}
        {{ $attachmentUrls = joinStr "" $attachmentUrls $link }}
        {{ if ne $i (sub (len $msgAttachments) 1) }}
          {{ $attachmentUrls = joinStr "" $attachmentUrls "\n\n" }}
        {{ end }}
      {{ end }}
    {{ end }}

    {{- /* linked message embed */ -}}

    {{ if $embed }}
      {{ if $embed.Color }}
        {{ $embedColor = $embed.Color }}
      {{ end }}
      {{ if $embed.Author }}
        {{ $embedAuthor = $embed.Author.Name }}
      {{ end }}
      {{ if $embed.Provider }}
        {{ $embedProvider = $embed.Provider.Name }}
      {{ end }}
      {{ if $embed.Description }}
        {{ if ge (len (toRune $embed.Description)) $embedFieldLimit }}
          {{ $embedDescription = joinStr "" (slice $embed.Description 0 $embedFieldLimit) "…" }}
        {{ else }}
          {{ $embedDescription = $embed.Description }}
        {{ end }}
      {{ end }}
      {{ if $embed.Fields }}
        {{ $embedFields = $embed.Fields }}
      {{ end }}
      {{ if $embed.Image }}
        {{ if $image }}
          {{ $thumbnail = or $embed.Image.ProxyURL $embed.Image.URL }}
        {{ else }}
          {{ $image = or $embed.Image.ProxyURL $embed.Image.URL }}
        {{ end }}
      {{ end }}
      {{ if $embed.Thumbnail }}
        {{ if $image }}
          {{ $thumbnail = or $embed.Thumbnail.ProxyURL $embed.Thumbnail.URL }}
        {{ else }}
          {{ $image = or $embed.Thumbnail.ProxyURL $embed.Thumbnail.URL }}
        {{ end }}
      {{ end }}
      {{ if $embed.Footer }}
        {{ $embedFooter = $embed.Footer.Text }}
      {{ end }}
    {{ end }}

    {{- /* fields */ -}}

    {{ $fields := cslice }}
    {{ if $attachmentUrls }}
      {{ $fields = $fields.Append (sdict "name" "Attachments" "value" $attachmentUrls "inline" false) }}
    {{ end }}
    {{ if $embedAuthor }}
      {{ $fields = $fields.Append (sdict "name" "Embed Author" "value" $embedAuthor "inline" true) }}
    {{ end }}
    {{ if $embedProvider }}
      {{ $fields = $fields.Append (sdict "name" "Embed Provider" "value" $embedProvider "inline" true) }}
    {{ end }}
    {{ if $embedTitle }}
      {{ $fields = $fields.Append (sdict "name" "Embed Title" "value" $embedTitle "inline" false) }}
    {{ end }}
    {{ if $embedDescription }}
      {{ $fields = $fields.Append (sdict "name" "Embed Description" "value" $embedDescription "inline" false) }}
    {{ end }}
    {{ if $embedFields }}
      {{- range $field := $embedFields -}}
        {{ $fields = $fields.Append (sdict
          "name" (joinStr " " "Embed Field:" $field.Name) "value" $field.Value "inline" false
        ) }}
      {{- end -}}
    {{ end }}
    {{ if $embedFooter }}
      {{ $fields = $fields.Append (sdict "name" "Embed Footer" "value" $embedFooter "inline" false) }}
    {{ end }}
    {{ $fields = $fields.Append (sdict
      "name" "Original Channel"
      "value" (joinStr "" "#️⃣ [" $targetChannel.Name "](" (index (split $trigger $messageID) 0) ")")
      "inline" false
    ) }}
    {{ $msgLink := joinStr "" "🔗 [Click or tap here to view the message.](" $trigger ")" }}
    {{ $fields = $fields.Append (sdict "name" "Original Message" "value" $msgLink "inline" false) }}

    {{- /* footer */ -}}

    {{ $gIconType := ".png" }}
    {{ if ge $guildPremiumTier 1 }}
      {{ $gIconType = ".gif" }}
    {{ end }}
    {{ $gIcon := (joinStr "" "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon $gIconType) }}
    {{ $footerText := (joinStr "" "Author ID: " $msgAuthor.ID) }}

    {{- /* result embed color */ -}}

    {{ if .ExecData.Color }}
      {{ $resultEmbedColor = .ExecData.Color }}
    {{ else if $authorColor }}
      {{ $resultEmbedColor = $authorColor }}
    {{ else if $embedColor }}
      {{ $resultEmbedColor = $embedColor }}
    {{ else }}
      {{ $resultEmbedColor = $defaultEmbedColor }}
    {{ end }}

    {{- /* result embed */ -}}

    {{ $resultEmbed = cembed
      "color" $resultEmbedColor "author" $author "title" $title "description" $msg.Content
      "image" (sdict "url" $image) "thumbnail" (sdict "url" $thumbnail) "fields" $fields
      "footer" (sdict "text" $footerText "icon_url" $gIcon) "timestamp" $msg.Timestamp
    }}
  {{ end }}

  {{- /* trigger author */ -}}

  {{ $triggerAuthor := $triggerMsgObj.Author }}
  {{ $triggerAuthorFull := $triggerAuthor.String }}
  {{ $triggerMember := getMember $triggerAuthor.ID }}
  {{ if $triggerMember.Nick }}
    {{ $triggerAuthorFull = joinStr "" $triggerMember.Nick " (" $triggerAuthorFull ")" }}
  {{ end }}

  {{- /* complex message */ -}}

  {{ $complexMsgContent := "" }}
  {{ if and (not .ExecData.DisableQuote) $triggerContent }}
    {{ $complexMsgContent = joinStr "" "> 💬 **" $triggerAuthorFull "** quoted a message:\n" $triggerContent }}
  {{ else if not .ExecData.DisableAuthor }}
    {{ $complexMsgContent = joinStr "" "> 🔗 **" $triggerAuthorFull "** linked a message:" }}
  {{ end }}
  {{ sendMessage (or .ExecData.ChannelID .Channel.ID) (complexMessage "content" $complexMsgContent "embed" $resultEmbed) }}
  {{ if not .ExecData.KeepTrigger }}
    {{ deleteTrigger $deleteTriggerDelay }}
  {{ end }}
{{ end }}
