{{- /*
  Author: Vladlena Costescu (@lbds137)
  ID: `32`
  Trigger type: `Regex`
  Trigger: `\Ahttps://(ptb.|canary.)?discord(?:app)?.com/channels/\d{17,}/\d{17,}/\d{17,}\z`
*/ -}}

{{ $trigger := lower .Message.Content }}
{{ $gcmString := reReplace "https://(ptb.|canary.)?discord(?:app)?.com/channels/" $trigger ""}}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}

{{ $gIcon := (joinStr "" "https://cdn.discordapp.com/icons/" (toString .Guild.ID) "/" .Guild.Icon ".gif") }}
{{ $channelName := (joinStr "" "#" (getChannel $channelID).Name) }}

{{ $guildCheck := eq .Message.GuildID (toInt $guildID) }}
{{ $staffCheck := hasRoleID (toInt (dbGet .Guild.OwnerID "Staff Role ID").Value) }}
{{ $thisChannelNsfw := (getChannel .Message.ChannelID).NSFW }}
{{ $thatChannelNsfw := (getChannel $channelID).NSFW }}
{{ $nsfwCheck := or (not $thatChannelNsfw) (and $thisChannelNsfw $thatChannelNsfw) }}

{{ if and $guildCheck (or $staffCheck $nsfwCheck) }}
    {{ $message := getMessage $channelID $messageID }}
    {{ $msgAuthor := $message.Author }}
    {{ $msgAttachments := $message.Attachments }}
    {{ $msgEmbeds := $message.Embeds}}

    {{ $color := (toInt (dbGet .Guild.OwnerID "Embed Color").Value) }}
    {{ $title := "Message Link" }}
    {{ $description := $message.Content }}
    {{ $attachmentLinks := "" }}
    {{ $image := "" }}
    {{ $thumbnail := "" }}

    {{ $embedFieldLimit := sub 1024 2 }}
    {{ $embedAuthor := "" }}
    {{ $embedTitle := "" }}
    {{ $embedDescription := "" }}
    {{ $embedFields := "" }}

    {{ $user := userArg $msgAuthor.ID }}
    {{ $usernameFull := or $user.String (joinStr "" $msgAuthor.Username "#" $msgAuthor.Discriminator ) }}
    {{ $member := getMember $msgAuthor.ID }}
    {{ if $member }}
        {{ if $member.Nick }}
            {{ $usernameFull = joinStr "" $member.Nick " (" $member.User.String ")" }}
        {{ end }}
    {{ end }}
    {{ $userLink := joinStr "" "https://discordapp.com/users/" $msgAuthor.ID }}
    {{ $author := sdict "name" $usernameFull "url" $userLink "icon_url" (or ($user.AvatarURL "128") $gIcon) }}

    {{ if gt (len $msgAttachments) 0 }}
        {{ $firstAttachment := index $msgAttachments 0 }}
        {{ $image = $firstAttachment.URL }}

        {{ range $i, $attachment := $msgAttachments }}
            {{ $attachmentLink := joinStr "" "[" $attachment.URL "]" }}
            {{ $attachmentLinks = joinStr "" $attachmentLinks $attachmentLink }}
            {{ if ne $i (sub (len $msgAttachments) 1) }}
                {{ $attachmentLinks = joinStr "" $attachmentLinks "\n\n" }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if gt (len $msgEmbeds) 0 }}
        {{ $embed := index $msgEmbeds 0 }}
        {{ if $embed.Author }}
            {{ $embedAuthor = $embed.Author.Name }}
        {{ end }}
        {{ if $embed.Title }}
            {{ $embedTitle = $embed.Title }}
        {{ end }}
        {{ if $embed.Description }}
            {{ if ge (len (toRune $embed.Description)) $embedFieldLimit }}
                {{ $embedDescription = joinStr "" (slice $embed.Description 0 $embedFieldLimit) "…" }}
            {{ else }}
                {{ $embedDescription = $embed.Description }}
            {{ end }}
        {{ end }}
        {{ if $embed.Fields }}
            {{ $embedFields = $embed.Fields }}
        {{ end }}
        {{ if $embed.Image }}
            {{ if $image }}
                {{ $thumbnail = $embed.Image.URL }}
            {{ else }}
                {{ $image = $embed.Image.URL }}
            {{ end }}
        {{ end }}
        {{ if $embed.Thumbnail }}
            {{ if $image }}
                {{ $thumbnail = $embed.Thumbnail.URL }}
            {{ else }}
                {{ $image = $embed.Thumbnail.URL }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ $fields := cslice }}
    {{ if $attachmentLinks }}
        {{ $fields = $fields.Append (sdict "name" "Attachments" "value" $attachmentLinks "inline" false) }}
    {{ end }}
    {{ if $embedAuthor }}
        {{ $fields = $fields.Append (sdict "name" "Embed Author" "value" $embedAuthor "inline" false) }}
    {{ end }}
    {{ if $embedTitle }}
        {{ $fields = $fields.Append (sdict "name" "Embed Title" "value" $embedTitle "inline" false) }}
    {{ end }}
    {{ if $embedDescription }}
        {{ $fields = $fields.Append (sdict "name" "Embed Description" "value" $embedDescription "inline" false) }}
    {{ end }}
    {{ if $embedFields }}
        {{ range $field := $embedFields }}
            {{ $fields = $fields.Append (sdict
                "name" (joinStr "" "Embed Field: `" $field.Name "`")
                "value" $field.Value
                "inline" false
            ) }}
        {{ end }}
    {{ end }}
    {{ $msgLink := joinStr "" "🔗 [Click or tap here to view the message.](" $trigger ")" }}
    {{ $fields = $fields.Append (sdict "name" "Original Message" "value" $msgLink "inline" false) }}

    {{ $output := cembed
        "color" $color
        "author" $author
        "title" $title
        "description" $description
        "fields" $fields
        "image" (sdict "url" $image)
        "thumbnail" (sdict "url" $thumbnail)
        "footer" (sdict "text" $channelName "icon_url" $gIcon)
        "timestamp" $message.Timestamp
    }}

    {{ sendMessage nil $output }}
    {{ deleteTrigger 0 }}
{{ end }}
