{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `pyramid`
  Dependencies: `embed_exec`, `gematria`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}
{{ $execCCLimit := toInt ($globalDict.Get "ExecCC Limit") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $gematria := toInt ($commandsDict.Get "gematria") }}
{{ $pyramid := toInt ($commandsDict.Get "pyramid") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $gematriaDict := (dbGet 0 "Gematria").Value }}
{{ $valuesDict := $gematriaDict.Get "Values" }}

{{ $args := parseArgs 1 "Usage: [text from which to generate pyramid gematria]"
  (carg "string" "text") }}
{{ $text := or .ExecData.Description ($args.Get 0) }}
{{ $userID := (or .ExecData.AuthorID .User.ID) }}
{{ $channelID := (or .ExecData.ChannelID .Channel.ID) }}

{{ $pyramidString := "" }}
{{ $prevLine := "" }}
{{ $words := reSplit "[[:space:]]+" $text }}
{{- if gt (len $words) 1 -}}
  {{- range $i, $word := $words -}}
    {{- if lt $i $execCCLimit -}}
      {{- execCC $pyramid $yagpdbChannelID 1 (sdict
        "AuthorID" $userID
        "ChannelID" $channelID
        "Description" $word
      ) -}}
    {{- else -}}
      {{- sendMessage $channelID (joinStr ""
        "Skipping execCC call #" (add 1 $i) " due to having exceeded the limit of " $execCCLimit " calls!"
      ) -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- range $i, $letter := split (index $words 0) "" -}}
    {{- $valLetter := $valuesDict.Get $letter -}}
    {{- if $valLetter -}}
      {{- $curLine := joinStr "" $prevLine $letter -}}
      {{- $pyramidString = joinStr "\n" $pyramidString $curLine -}}
      {{- $prevLine = $curLine -}}
    {{- end -}}
  {{- end -}}

  {{ execCC $gematria $yagpdbChannelID 0 (sdict
    "AuthorID" $userID
    "ChannelID" $channelID
    "Title" "Pyramid Gematria"
    "Description" $pyramidString
    "Fields" (cslice (sdict "name" "Word" "value" $text "inline" false))
  ) }}
{{- end -}}

{{ deleteTrigger $deleteTriggerDelay }}
