{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `pyramid`
  Dependencies: `embed_exec`, `gematria`
*/ -}}

{{- $globalCategoryID := toInt (dbGet 0 "Global").Value -}}
{{- $commandsCategoryID := toInt (dbGet 0 "Commands").Value -}}
{{- $channelsCategoryID := toInt (dbGet 0 "Channels").Value -}}

{{- $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 -}}
{{- $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value -}}
{{- $gematria := toInt (dbGet $commandsCategoryID "gematria").Value -}}
{{- $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value -}}

{{- $args := parseArgs 1 "Usage: [text from which to generate pyramid gematria]"
  (carg "string" "text") -}}
{{- $text := $args.Get 0 -}}
{{- $text = reReplace `‎` $text "" -}}

{{- $pyramidString := "" -}}
{{- $prevLine := "" -}}
{{- $words := reSplit "[[:space:]]+" $text }}
{{- range $i, $letter := split (index $words 0) "" -}}
  {{- $curLine := joinStr "" $prevLine $letter -}}
  {{- $pyramidString = joinStr "\n" $pyramidString $curLine -}}
  {{- $prevLine = $curLine -}}
{{- end -}}

{{ $text = joinStr "" "‎" $text }}
{{ $text = reReplace `\n` $text "\n‎" }}
{{ execCC $gematria $yagpdbChannelID 0 (sdict
  "AuthorID" .User.ID
  "ChannelID" .Channel.ID
  "Title" "Pyramid Gematria"
  "Description" $pyramidString
  "Fields" (cslice (sdict "name" "Word" "value" $text "inline" false))
) }}

{{ deleteTrigger $deleteTriggerDelay }}
