{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rule`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rulesCategoryID := toInt (dbGet 0 "Rules").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $count := toInt (dbGet $rulesCategoryID "Count").Value }}

{{ $min := 1 }}
{{ $max := or $count 10 }}

{{ $args := parseArgs 1 (joinStr "" "Please enter a valid rule number (" $min "-" $max ").")
    (carg "int" "rule number to view")
}}
 
{{ $n := $args.Get 0 }}
 
{{ if and (ge $n $min) (le $n $max) }}
    {{ $key := joinStr "" "Rule #" $n }}
    {{ $result := (dbGet $rulesCategoryID $key).Value }}

    {{ execCC $embed_exec nil 0 (sdict "Title" $key "Description" $result) }}
{{ else }}
    ⚠️ Could not find the requested rule number: {{ joinStr "" "`" $n "`" }}
{{ end }}
 
{{ deleteTrigger $deleteTriggerDelay }}
