{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rule`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}

{{ $rulesDict := (dbGet 0 "Rules").Value }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB Channel ID") }}

{{ $min := 1 }}
{{ $max := len $rulesDict }}

{{ $args := parseArgs 1 (joinStr "" "Please enter a valid rule number (" $min "-" $max ").")
    (carg "int" "rule number to view")
}}
 
{{ $n := or .ExecData.RuleNumber ($args.Get 0) }}
 
{{ if and (ge $n $min) (le $n $max) }}
    {{ $key := joinStr "" "Rule #" $n }}
    {{ $result := $rulesDict.Get $key }}
    {{ $title := $key }}
    {{ if eq $max 1 }}
        {{ $title = "Rules" }}
    {{ end }}

    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" (or .ExecData.ChannelID .Channel.ID)
        "Title" $title
        "Description" $result
    ) }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" (or .ExecData.ChannelID .Channel.ID)
        "Title" "Rule Lookup Failed"
        "Description" (joinStr "" "⚠️ Could not find the requested rule number: `" $n "`")
    ) }}
{{ end }}
 
{{ deleteTrigger $deleteTriggerDelay }}
