{{- /*
  Author: Vladlena Costescu (@lbds137)
  ID: `1`
  Trigger type: `Command`
  Trigger: `rule`
*/ -}}

{{ $min := 1 }}
{{ $max := 10 }}
 
{{ $args := parseArgs 1 (joinStr "" "Please enter a valid rule number (" $min "-" $max ").")
    (carg "int" "rule number to view")
}}
 
{{ $n := $args.Get 0 }}
 
{{ if and (ge $n $min) (le $n $max) }}
    {{ $key := joinStr "" "Rule #" $n }}
    {{ $rulesCategoryID := toInt (dbGet 0 "Rules").Value }}
    {{ $result := (dbGet $rulesCategoryID $key).Value }}

    {{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
    {{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
    {{ execCC $embed_exec nil 0 (sdict "Title" $key "Description" $result) }}
{{ else }}
    ⚠️ Could not find the requested rule number: {{ joinStr "" "`" $n "`" }}
{{ end }}
 
{{ deleteTrigger 5 }}
