{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `.*`
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $prefix := or (dbGet $globalCategoryID "Command Prefix").Value "-" }}
{{ $prefixRegex := joinStr "" "\\A\\Q" $prefix "\\E" }}

{{ $trigger := .Message.Content }}
{{ if not (reFind (joinStr "" $prefixRegex "ticket open .+\\z") $trigger) }}
    {{ $result := joinStr ""
        "⚠️ Please enter a valid ticket open command: `" $prefix "ticket open [reason]`\n\n"
        "Replace `[reason]` with a brief but descriptive reason for opening the ticket, "
        "e.g. `concern about another member's conduct`.\n\n"
        "*Note: the reason is limited to a maximum of **__90 characters__**, and "
        "submitting a longer reason will cause the ticket submission to fail.*"
    }}

    {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" "Invalid Ticket Command"
        "Description" $result
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}

    {{ deleteTrigger $deleteTriggerDelay }}
{{ end }}
