{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Regex`
  Trigger: `.*`
*/ -}}

{{ $trigger := .Message.Content }}
{{ if not (reFind "\\Ay\\^ticket open .+\\z" $trigger) }}
    {{ $result := joinStr "" 
        "⚠️ You must enter a proper ticket open command: `y^ticket open [reason]`\n\n"
        " Replace `[reason]` with a brief but descriptive reason for opening the ticket, e.g. `concern about another member`." 
    }}

    {{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
    {{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
    {{ execCC $embed_exec nil 0 (sdict "Title" "Invalid Ticket Command" "Description" $result "DeleteResponse" true "DeleteDelay" 10) }}

    {{ deleteTrigger 0 }}
{{ end }}
