{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `admituser`
*/ -}}

{{ $emoji := "👋" }}

{{ $args := parseArgs 1 "Usage: `[message link]` `[minor|adult] (optional for 18+ only servers)`"
    (carg "string" "message link")
    (carg "string" "minor or adult (optional for 18+ only servers)")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $message_link := toInt (dbGet $commandsCategoryID "message_link").Value }}

{{ $guestRoleID := toInt (dbGet $rolesCategoryID "Guest Role ID").Value }}
{{ $memberRoleID := toInt (dbGet $rolesCategoryID "Member Role ID").Value }}
{{ $minorRoleID := toInt (dbGet $rolesCategoryID "Minor Role ID").Value }}
{{ $adultRoleID := toInt (dbGet $rolesCategoryID "Adult Role ID").Value }}

{{ $introductionChannelID := toInt (dbGet $channelsCategoryID "Introduction Channel ID").Value }}
{{ $introductionArchiveChannelID := toInt (dbGet $channelsCategoryID "Introduction Archive Channel ID").Value }}
{{ $welcomeChannelID := toInt (dbGet $channelsCategoryID "Welcome Channel ID").Value }}
{{ $roleAssignmentChannelID := toInt (dbGet $channelsCategoryID "Role Assignment Channel ID").Value }}
{{ $modLogChannelID := toInt (dbGet $channelsCategoryID "Mod Log Channel ID").Value }}

{{ $messageLinkArg := $args.Get 0 }}

{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullLinkRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}
{{ $messageLink := reFind $fullLinkRegex $messageLinkArg }}

{{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}

{{ $guildCheck := eq $guildID (toString .Guild.ID) }}
{{ $channelCheck := or (not $introductionChannelID) (eq $channelID (toString $introductionChannelID)) }}

{{ if and $guildCheck $channelCheck }}
    {{ $message := getMessage $channelID $messageID }}
    {{ $userID := $message.Author.ID }}
    {{ $guildMember := getMember $userID }}
    {{ $user := $guildMember.User }}
    {{ if $guildMember }}
        {{ $userType := "" }}
        {{ if $args.IsSet 1 }}
            {{ $userType = lower ($args.Get 1) }}
        {{ end }}
        {{ $isMinor := eq "minor" $userType }}
        {{ $isAdult := eq "adult" $userType }}
        {{ $hasUserType := or $isMinor $isAdult }}
        {{ $ignoreUserType := and (not $minorRoleID) (not $adultRoleID) }}
        {{ if or $hasUserType $ignoreUserType }}
            {{ $userTypeString := "" }}
            {{ if $hasUserType }}
                {{ $article := "" }}
                {{ if $isMinor }}
                    {{ $article = "a" }}
                    {{ giveRoleID $userID $minorRoleID }}
                {{ else }}
                    {{ $article = "an" }}
                    {{ giveRoleID $userID $adultRoleID }}
                {{ end }}
                {{ $userTypeString = joinStr "" " as " $article " **" (title $userType) "**" }}
            {{ end }}
            {{ giveRoleID $userID $memberRoleID }}
            {{ takeRoleID $userID $guestRoleID }}
            {{ addMessageReactions $channelID $messageID $emoji }}
            {{ if $introductionArchiveChannelID }}
                {{ execCC $message_link nil 0 (sdict
                    "Message" .Message
                    "ChannelID" $introductionArchiveChannelID
                    "DisableQuote" true
                ) }}
            {{ end }}

            {{ if $welcomeChannelID }}
                {{ $welcomeString := joinStr ""
                    "Welcome to **" .Guild.Name "**, "
                    $user.Mention "!"
                }}
                {{ if $roleAssignmentChannelID }}
                    {{ $welcomeString = joinStr ""
                        $welcomeString " Feel free to visit <#" $roleAssignmentChannelID "> "
                        "and assign yourself some optional roles to improve your experience in the server. "
                        "We hope you have a pleasant stay!"
                    }}
                {{ end }}
                {{ sendMessage $welcomeChannelID $welcomeString }}
            {{ end }}

            {{ $defaultAvatar := (dbGet $globalCategoryID "Default Avatar").Value }}
            {{ $userAvatar := $user.AvatarURL "128" }}
            {{ $staffUser := .User }}

            {{ $title := "User Admission Record" }}
            {{ $description := joinStr ""
                $emoji " User **" $user.String "** (ID: " $user.ID ") "
                "has been admitted to **" .Guild.Name "** by "
                "**" $staffUser.String "** (ID: " $staffUser.ID ")"
                $userTypeString "!"
            }}
            {{ execCC $embed_exec nil 0 (sdict
                "Title" $title
                "Description" $description
                "ThumbnailURL" (or $userAvatar $defaultAvatar)
                "Channel" $modLogChannelID
            ) }}
        {{ else }}
            {{ execCC $embed_exec nil 0 (sdict
                "Title" "Invalid User Type"
                "Description" "⚠️ You must enter either `minor` or `adult` for the user type parameter!"
                "DeleteResponse" true
                "DeleteDelay" $deleteResponseDelay
            ) }}
        {{ end }}
    {{ else }}
        {{ execCC $embed_exec nil 0 (sdict
            "Title" "Invalid User"
            "Description" joinStr "" "⚠️ The user you are trying to admit is not currently in **" .Guild.Name "**!"
            "DeleteResponse" true
            "DeleteDelay" $deleteResponseDelay
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec nil 0 (sdict
        "Title" "Invalid Message Link"
        "Description" "⚠️ You must enter a valid introduction message link for the message link parameter!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
