{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `admit_user`
  Dependencies: `embed_exec`, `message_link`
*/ -}}

{{ $emoji := "👋" }}

{{ $args := parseArgs 1 "Usage: `[message link]` `[minor|adult] (optional for 18+ only servers)`"
    (carg "string" "message link")
    (carg "string" "minor or adult (optional for 18+ only servers)")
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $message_link := toInt ($commandsDict.Get "message_link") }}

{{ $rolesDict := (dbGet 0 "Roles").Value }}
{{ $guestRoleID := toInt ($rolesDict.Get "Guest Role ID") }}
{{ $memberRoleID := toInt ($rolesDict.Get "Member Role ID") }}
{{ $minorRoleID := toInt ($rolesDict.Get "Minor Role ID") }}
{{ $adultRoleID := toInt ($rolesDict.Get "Adult Role ID") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $introductionChannelID := toInt ($channelsDict.Get "Introduction Channel ID") }}
{{ $introductionArchiveChannelID := toInt ($channelsDict.Get "Introduction Archive Channel ID") }}
{{ $welcomeChannelID := toInt ($channelsDict.Get "Welcome Channel ID") }}
{{ $admissionLogChannelID := toInt ($channelsDict.Get "Admission Log Channel ID") }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB Channel ID") }}

{{ $adminDict := (dbGet 0 "Admin").Value }}
{{ $welcomeMessage := $adminDict.Get "Welcome Message" }}

{{ $messageLinkArg := $args.Get 0 }}

{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullLinkRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}
{{ $messageLink := reFind $fullLinkRegex $messageLinkArg }}

{{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}

{{ $guildCheck := eq $guildID (toString .Guild.ID) }}
{{ $channelCheck := or (not $introductionChannelID) (eq $channelID (toString $introductionChannelID)) }}

{{ if and $guildCheck $channelCheck }}
    {{ $message := getMessage $channelID $messageID }}
    {{ $userID := $message.Author.ID }}
    {{ $user := userArg $userID }}
    {{ $guildMember := getMember $userID }}
    {{ if $guildMember }}
        {{ $userType := "" }}
        {{ if $args.IsSet 1 }}
            {{ $userType = lower ($args.Get 1) }}
        {{ end }}
        {{ $isMinor := eq "minor" $userType }}
        {{ $isAdult := eq "adult" $userType }}
        {{ $hasUserType := or $isMinor $isAdult }}
        {{ $ignoreUserType := and (not $minorRoleID) (not $adultRoleID) }}
        {{ if or $hasUserType $ignoreUserType }}
            {{ $userTypeString := "" }}
            {{ if $hasUserType }}
                {{ $article := "" }}
                {{ if $isMinor }}
                    {{ $article = "a" }}
                    {{ giveRoleID $userID $minorRoleID }}
                {{ else }}
                    {{ $article = "an" }}
                    {{ giveRoleID $userID $adultRoleID }}
                {{ end }}
                {{ $userTypeString = joinStr "" " as " $article " **" (title $userType) "**" }}
            {{ end }}
            {{ giveRoleID $userID $memberRoleID }}
            {{ takeRoleID $userID $guestRoleID }}
            {{ deleteAllMessageReactions $channelID $messageID }}
            {{ addMessageReactions $channelID $messageID $emoji }}
            {{ if $introductionArchiveChannelID }}
                {{ execCC $message_link $yagpdbChannelID 0 (sdict
                    "ChannelID" .Channel.ID
                    "Message" .Message
                    "ChannelID" $introductionArchiveChannelID
                    "DisableQuote" true
                ) }}
            {{ end }}

            {{ if $welcomeChannelID }}
                {{ $welcomeMessage = reReplace "\\#\\{guild_name\\}" $welcomeMessage .Guild.Name }}
                {{ $welcomeMessage = reReplace "\\#\\{user_mention\\}" $welcomeMessage $user.Mention }}
                {{ sendMessage $welcomeChannelID $welcomeMessage }}
            {{ end }}

            {{ $defaultAvatar := $globalDict.Get "Default Avatar" }}
            {{ $userAvatar := $user.AvatarURL "128" }}
            {{ $staffUser := .User }}

            {{ $title := "User Admission Record" }}
            {{ $description := joinStr ""
                $emoji " User **" $user.String "** (ID: " $user.ID ") "
                "has been admitted to **" .Guild.Name "** by "
                "**" $staffUser.String "** (ID: " $staffUser.ID ")"
                $userTypeString "!"
            }}
            {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
                "ChannelID" $admissionLogChannelID
                "Title" $title
                "Description" $description
                "ThumbnailURL" (or $userAvatar $defaultAvatar)
            ) }}
        {{ else }}
            {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
                "ChannelID" .Channel.ID
                "Title" "Invalid User Type"
                "Description" "⚠️ You must enter either `minor` or `adult` for the user type parameter!"
                "DeleteResponse" true
                "DeleteDelay" $deleteResponseDelay
            ) }}
        {{ end }}
    {{ else }}
        {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
            "ChannelID" .Channel.ID
            "Title" "Invalid User"
            "Description" joinStr "" "⚠️ The user you are trying to admit is not currently in **" .Guild.Name "**!"
            "DeleteResponse" true
            "DeleteDelay" $deleteResponseDelay
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Invalid Message Link"
        "Description" "⚠️ You must enter a valid introduction message link for the message link parameter!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
