{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `adult`
*/ -}}

{{ $emoji := "🔞" }}

{{ $args := parseArgs 1 "Usage: `[user ID]`"
    (carg "string" "user ID")
}}

{{ $userID := (userArg ($args.Get 0)).ID }}
{{ $member := getMember $userID }}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}

{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $minorRoleID := toInt (dbGet $rolesCategoryID "Minor Role ID").Value }}
{{ $adultRoleID := toInt (dbGet $rolesCategoryID "Adult Role ID").Value }}

{{ $modLogChannelID := toInt (dbGet $channelsCategoryID "Mod Log Channel ID").Value }}

{{ $guildMember := getMember $userID }}
{{ if $guildMember }}
    {{ $user := $guildMember.User }}
    {{ $isMinor := targetHasRoleID $userID $minorRoleID }}
    {{ if $isMinor }}
        {{ takeRoleID $userID $minorRoleID }}
        {{ giveRoleID $userID $adultRoleID }}

        {{ $defaultAvatar := (dbGet $globalCategoryID "Default Avatar").Value }}
        {{ $userAvatar := $user.AvatarURL "128" }}
        {{ $staffUser := .User }}

        {{ $title := "18th Birthday Record" }}
        {{ $description := joinStr ""
            $emoji " User **" $user.String "** (ID: " $user.ID ") "
            "has been granted the <@&" (toString $adultRoleID) "> role in **" .Guild.Name "** by "
            "**" $staffUser.String "** (ID: " $staffUser.ID ")!"
        }}
        {{ execCC $embed_exec .Channel.ID 0 (sdict
            "Title" $title
            "Description" $description
            "ThumbnailURL" (or $userAvatar $defaultAvatar)
            "ChannelID" $modLogChannelID
        ) }}
    {{ else }}
        {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" "Invalid User Type"
            "Description" (joinStr ""
                "⚠️ The user you are trying to modify is not currently a <@&" (toString $minorRoleID) ">!"
            )
            "DeleteResponse" true
            "DeleteDelay" $deleteResponseDelay
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec .Channel.ID 0 (sdict
        "Title" "Invalid User"
        "Description" (joinStr "" "⚠️ The user you are trying to modify is not currently in **" .Guild.Name "**!")
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
