{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `archive`
  Dependencies: `embed_exec`, `message_link`
*/ -}}

{{ $emoji := "👋" }}

{{ $args := parseArgs 1 "Usage: `[message link]`"
  (carg "string" "message link")
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $message_link := toInt ($commandsDict.Get "message_link") }}

{{ $rolesDict := (dbGet 0 "Roles").Value }}
{{ $memberRoleID := toInt ($rolesDict.Get "Member") }}
{{ $minorRoleID := toInt ($rolesDict.Get "Minor") }}
{{ $adultRoleID := toInt ($rolesDict.Get "Adult") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $introductionChannelID := toInt ($channelsDict.Get "Introduction") }}
{{ $introductionArchiveChannelID := toInt ($channelsDict.Get "Introduction Archive") }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $messageLinkArg := $args.Get 0 }}

{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullLinkRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}
{{ $messageLink := reFind $fullLinkRegex $messageLinkArg }}

{{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}

{{ $guildCheck := eq $guildID (toString .Guild.ID) }}
{{ $channelCheck := eq $channelID (toString $introductionChannelID) }}

{{ if and $guildCheck $channelCheck }}
    {{ $message := getMessage $channelID $messageID }}
    {{ $userID := $message.Author.ID }}
    {{ $user := userArg $userID }}
    {{ $guildMember := getMember $userID }}
    {{ if $guildMember }}
        {{ $userType := "" }}
        {{ if $args.IsSet 1 }}
            {{ $userType = lower ($args.Get 1) }}
        {{ end }}
        {{ $ignoreUserType := and (not $minorRoleID) (not $adultRoleID) }}
        {{ $hasUserType := false }}
        {{ $isMinor := false }}
        {{ $isAdult := false }}
        {{ if not $ignoreUserType }}
          {{ $isMinor = targetHasRoleID $userID $minorRoleID }}
          {{ $isAdult = targetHasRoleID $userID $adultRoleID }}
          {{ $hasUserType = or $isMinor $isAdult }}
        {{ end }}
        {{ if or $hasUserType $ignoreUserType }}
            {{ $color := 0 }}
            {{ if $isMinor }}
                {{ $color = (getRole $minorRoleID).Color }}
            {{ else if $isAdult }}
                {{ $color = (getRole $adultRoleID).Color }}
            {{ else }}
                {{ $color = (getRole $memberRoleID).Color }}
            {{ end }}
            {{ addMessageReactions $channelID $messageID $emoji }}
            {{ if $introductionArchiveChannelID }}
                {{ execCC $message_link $yagpdbChannelID 0 (sdict
                  "ChannelID" .Channel.ID
                  "Message" .Message
                  "Color" $color
                  "ChannelID" $introductionArchiveChannelID
                  "DisableQuote" true
                ) }}
            {{ end }}
        {{ else }}
            {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
              "ChannelID" .Channel.ID
              "Title" "Invalid User Type"
              "Description" "⚠️ The user whose introduction you are trying to archive is neither an Adult nor a Minor!"
              "DeleteResponse" true
              "DeleteDelay" $deleteResponseDelay
            ) }}
        {{ end }}
    {{ else }}
        {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
          "ChannelID" .Channel.ID
          "Title" "Invalid User"
          "Description" (joinStr ""
            "⚠️ The user whose introduction you are trying to archive is not currently in **" .Guild.Name "**!"
          )
          "DeleteResponse" true
          "DeleteDelay" $deleteResponseDelay
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
      "ChannelID" .Channel.ID
      "Title" "Invalid Message Link"
      "Description" "⚠️ You must enter a valid introduction message link for the message link parameter!"
      "DeleteResponse" true
      "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
