{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `bump_reset`
  Dependencies: none
*/ -}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}

{{ dbDel $globalCategoryID "Last Bump" }}

{{ $messageID := sendMessageRetID .Channel.ID "`Last Bump` reset!" }}

{{ deleteTrigger $deleteTriggerDelay }}
{{ deleteMessage .Channel.ID $messageID $deleteResponseDelay }}
