{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `dblist`
  Dependencies: `embed_exec`
*/ -}}

{{ $title := "Top 100 Database Entries" }}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}

{{ $maxEntries := 100 }}
{{ $maxFields := 25 }}
{{ $valueMaxLen := 25 }}

{{ $entries := cslice }}
{{ $iEnd := 0 }}
{{ $lastBoundary := 0 }}
{{- range $i, $entry := dbTopEntries "%" $maxEntries 0 -}}
    {{- $iEnd = $i -}}
    {{- if and (gt $i 0) (eq 0 (toInt (mod $i $maxFields))) -}}
        {{- $iHuman := add 1 $i -}}
        {{- $lastBoundary = $iHuman -}}
        {{- execCC $embed_exec .Channel.ID 0 (sdict
            "Title" (joinStr "" $title " (" (sub $iHuman $maxFields) "-" $i ")")
            "Fields" $entries
        ) -}}
        {{- $entries = cslice -}}
    {{- end -}}

    {{- $value := $entry.Value -}}
    {{- if ge (len (toRune $value)) $valueMaxLen -}}
        {{- $value = joinStr "" (slice $value 0 $valueMaxLen) "…" -}}
    {{ end }}

    {{ $result := joinStr ""
        "**User ID:** `" $entry.UserID "`\n"
        "**Key:** ```\n" $entry.Key "```\n"
        "**Value:** ```\n" $value "```\n"
        "**━━━━━━━━━━━━━━━━━━━━**"
    }}
    {{- $entries = $entries.Append (sdict "name" (joinStr "" "ID: `" $entry.ID "`") "value" $result "inline" false) -}}
{{- end -}}

{{ $iEndHuman := add 1 $iEnd }}
{{ execCC $embed_exec .Channel.ID 0 (sdict
    "Title" (joinStr "" $title " (" $lastBoundary "-" $iEndHuman ")")
    "Fields" $entries
) }}
