{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `None`
*/ -}}

{{ $arrayType := "[]interface {}" }}
{{ $leftDivider := "⋙ " }}
{{ $rightDivider := " ⋘" }}

{{- if and .ExecData.DirectoryCategoryID .ExecData.CategoryGroup .ExecData.CategoryGroupChannels .ExecData.Color -}}
  {{- /* store the custom command params as local variables */ -}}
  {{- $directoryCategoryID := .ExecData.DirectoryCategoryID -}}
  {{- $categoryGroup := .ExecData.CategoryGroup -}}
  {{- $categoryGroupChannels := .ExecData.CategoryGroupChannels -}}
  {{- $color := .ExecData.Color -}}

  {{- /* iterate over the provided slice of category IDs */ -}}
  {{- range $i, $categoryID := $categoryGroup -}}
    {{- /* look up the category name and child channels */ -}}
    {{- $categoryName := "❓ Uncategorized ❓" -}}
    {{- if ne 0 (toInt $categoryID) -}}
      {{- $categoryChannel := getChannel $categoryID -}}
      {{- $categoryName = $categoryChannel.Name -}}
      {{- $categoryName = reReplace $leftDivider $categoryName "" -}}
      {{- $categoryName = reReplace $rightDivider $categoryName "" -}}
    {{- end -}}
    {{- $categoryChannels := index $categoryGroupChannels $i -}}

    {{- /* output the category if the child channels array from the database is valid */ -}}
    {{- if eq (printf "%T" $categoryChannels) $arrayType -}}
      {{- /* send the category name as an embed message to visually divide the categories */ -}}
      {{- $embed := cembed "title" $categoryName "color" $color -}}
      {{- sendMessage nil $embed -}}

      {{- /* combine the category's channels as links and topics in one message (max 2000 characters) and send it */ -}}
      {{- $categoryEntry := "" -}}
      {{- range $i, $channelID := $categoryChannels -}}
        {{- $channel := getChannel $channelID -}}
        {{- $channelTopic := $channel.Topic -}}
        {{- if eq 0 $i -}}
            {{- $categoryEntry = joinStr "" $categoryEntry "<#" $channelID ">\n" $channelTopic -}}
        {{- else -}}
            {{- $categoryEntry = joinStr "" $categoryEntry "\n\n<#" $channelID ">\n" $channelTopic -}}
        {{- end -}}
      {{- end -}}
      {{- sendMessage nil $categoryEntry -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
