{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Hourly interval`
  Interval: `24`
*/ -}}

{{ $arrayType := "[]interface {}" }}
{{ $channelLimit := 25 }}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}
{{ $directoryCategoryID := toInt (dbGet 0 "Directory").Value }}

{{ $dbEmbedColor := toInt (dbGet $globalCategoryID "Embed Color").Value }}
{{ $directory_category := toInt (dbGet $commandsCategoryID "directory_category").Value }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $directoryChannelID := toInt (dbGet $channelsCategoryID "Directory Channel ID").Value }}
{{ $directoryCategories := (dbGet $directoryCategoryID "Categories").Value }}

{{ if $directoryCategories }}
    {{ if eq (printf "%T" $directoryCategories) $arrayType }}
        {{- /* clean old directory entries */ -}}
        {{- exec "Clean" 100 -}}

        {{- /* divide channel categories into groups to avoid hitting Discord API limits per custom command */ -}}
        {{ $currentGroup := cslice }}
        {{ $currentGroupChannels := cslice }}
        {{ $counter := 0 }}
        {{- range $i, $categoryID := $directoryCategories -}}
            {{- $currentGroup = $currentGroup.Append $categoryID -}}
            {{- if ne 0 (toInt $categoryID) -}}
                {{- $counter = add $counter 1 -}}
            {{- end -}}
            {{- $categoryChannels := (dbGet $directoryCategoryID $categoryID).Value -}}
            {{- if eq (printf "%T" $categoryChannels) $arrayType -}}
                {{- $counter = add $counter (len $categoryChannels) }}
                {{- $currentGroupChannels = $currentGroupChannels.Append $categoryChannels -}}
            {{- else -}}
                {{- $currentGroupChannels = $currentGroupChannels.Append cslice -}}
            {{- end -}}

            {{- /* if the current group is at its channel limit, output its channels and move on to the next one */ -}}
            {{- if gt $counter $channelLimit -}}
                {{- sleep 1 -}}
                {{- /* run the helper command for the current group to output its channels */ -}}
                {{ execCC $directory_category nil 0 (sdict
                    "DirectoryCategoryID" $directoryCategoryID
                    "CategoryGroup" $currentGroup
                    "CategoryGroupChannels" $currentGroupChannels
                    "Color" $dbEmbedColor
                ) }}
                {{- /* reset the current group and its channels in preparation for the next iteration */ -}}
                {{- $currentGroup = cslice -}}
                {{- $currentGroupChannels = cslice -}}
                {{- $counter = 0 -}}
            {{- end -}}
        {{- end -}}
    {{ else }}
        {{ execCC $embed_exec nil 0 (sdict
            "Title" "Directory Lookup Failed"
            "Description" "⚠️ The directory categories database entry must be an array!"
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec nil 0 (sdict
        "Title" "Directory Lookup Failed"
        "Description" "⚠️ You must initialize the directory categories in the database!"
    ) }}
{{ end }}
