{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Hourly interval`
  Interval: `168`
  Dependencies: none
*/ -}}

{{- $globalCategoryID := toInt (dbGet 0 "Global").Value -}}
{{- $directoryCategoryID := toInt (dbGet 0 "Directory").Value -}}

{{- $embedColor := toInt (dbGet $globalCategoryID "Embed Color").Value -}}
{{- $excludeCategories := or (dbGet $directoryCategoryID "Exclude Categories").Value cslice -}}
{{- $excludeChannels := or (dbGet $directoryCategoryID "Exclude Channels").Value cslice -}}

{{- $yagpdbUserID := 204255221017214977 -}}

{{- $leftDivider := "⋙ " -}}
{{- $rightDivider := " ⋘" -}}
{{- $messageMaxLen := sub 2000 1 -}}

{{- $ctypeText := 0 -}}
{{- $ctypeVoice := 2 -}}
{{- $ctypeCategory := 4 -}}

{{- $csliceText := cslice -}}
{{- $csliceVoice := cslice -}}
{{- $csliceCategory := cslice 0 -}}

{{- $cdictText := dict -}}
{{- $cdictVoice := dict -}}
{{- $cdictCategory := dict -}}

{{- $directory := dict -}}
{{- $directory.Set 0 cslice -}}

{{- $exclude := dict -}}
{{- $backToTopLink := "" -}}

{{- $channelID := .Channel.ID -}}

{{- /* iterate through all guild channels and build out data structures */ -}}
{{- range $channel := .Guild.Channels -}}
  {{- $ctype := $channel.Type -}}
  {{- $cid := $channel.ID -}}
  {{- if eq $ctype $ctypeText -}}
    {{- $csliceText = $csliceText.Append $cid -}}
    {{- $cdictText.Set $cid $channel -}}
  {{- else if eq $ctype $ctypeVoice -}}
    {{- $csliceVoice = $csliceVoice.Append $cid -}}
    {{- $cdictVoice.Set $cid $channel -}}
  {{- else if eq $ctype $ctypeCategory -}}
    {{- $csliceCategory = $csliceCategory.Append $cid -}}
    {{- $cdictCategory.Set $cid $channel -}}
    {{- $directory.Set $cid cslice -}}
  {{- end -}}
{{- end -}}

{{- /* populate text channels in directory dictionary */ -}}
{{- range $cid := $csliceText -}}
  {{- $channel := $cdictText.Get $cid -}}
  {{- $cidParent := $channel.ParentID -}}
  {{- if not $cidParent -}}
    {{- $cidParent = 0 -}}
  {{- end -}}
  {{- $csliceCurrent := $directory.Get $cidParent -}}
  {{- $csliceCurrent = $csliceCurrent.Append $cid -}}
  {{- $directory.Set $cidParent $csliceCurrent -}}
{{- end -}}

{{- /* populate voice channels in directory dictionary */ -}}
{{- range $cid := $csliceVoice -}}
  {{- $channel := $cdictVoice.Get $cid -}}
  {{- $cidParent := $channel.ParentID -}}
  {{- if not $cidParent -}}
    {{- $cidParent = 0 -}}
  {{- end -}}
  {{- $csliceCurrent := $directory.Get $cidParent -}}
  {{- $csliceCurrent = $csliceCurrent.Append $cid -}}
  {{- $directory.Set $cidParent $csliceCurrent -}}
{{- end -}}

{{- /* exclude categories and channels as necessary */ -}}
{{- range $cid := $excludeCategories -}}
  {{- $exclude.Set (toInt $cid) true -}}
{{- end -}}
{{- range $cid := $excludeChannels -}}
  {{- $exclude.Set (toInt $cid) true -}}
{{- end -}}

{{- /* clean old directory entries */ -}}
{{- exec "Clean" 100 (getMember $yagpdbUserID).User.Mention -}}

{{- /* iterate through the directory and print out channel details */ -}}
{{- $i := 0 -}}
{{- range $cidCategory := $csliceCategory -}}
  {{- if not ($exclude.Get $cidCategory) -}}
    {{- /* look up the category name and child channels */ -}}
    {{- $categoryName := "❓ Uncategorized ❓" -}}
    {{- if ne 0 $cidCategory -}}
      {{- $categoryChannel := $cdictCategory.Get $cidCategory -}}
      {{- $categoryName = $categoryChannel.Name -}}
      {{- /* strip out dividers from category name */ -}}
      {{- $nameArr := split $categoryName $leftDivider -}}
      {{- if gt (len $nameArr) 1 -}}
        {{- $categoryName = reReplace $leftDivider $categoryName "" -}}
      {{- end -}}
      {{- $nameArr = split $categoryName $rightDivider -}}
      {{- if gt (len $nameArr) 1 -}}
        {{- $categoryName = reReplace $rightDivider $categoryName "" -}}
      {{- end -}}
    {{- end -}}
    {{- $categoryChannels := $directory.Get $cidCategory -}}

    {{- /* use category name as an embed message to visually divide the categories */ -}}
    {{- $embed := cembed "title" $categoryName "color" $embedColor -}}

    {{- /* combine the category's channels as links and topics in one message (max 2000 characters) and send it */ -}}
    {{- $categoryEntry := "" -}}
    {{- $j := 0 -}}
    {{- range $cidChild := $categoryChannels -}}
      {{- if not ($exclude.Get $cidChild) -}}
        {{- $channel := $cdictText.Get $cidChild -}}
        {{- if not $channel -}}
          {{- $channel = $cdictVoice.Get $cidChild -}}
        {{- end -}}
        {{- $channelTopic := $channel.Topic -}}
        {{- if $channelTopic -}}
          {{- $channelTopic = joinStr "" "\n" $channelTopic }}
        {{- end -}}
        {{- $spacer := "\n\n" -}}
        {{- if eq 0 $j -}}
          {{- $spacer = "" -}}
        {{- end -}}
        {{- $categoryEntry = joinStr "" $categoryEntry $spacer "<#" $cidChild ">" $channelTopic -}}

        {{- $j = add 1 $j -}}
      {{- end -}}
    {{- end -}}
    {{- if ge (len (toRune $categoryEntry)) $messageMaxLen -}}
      {{- $categoryEntry = joinStr "" (slice $categoryEntry 0 $messageMaxLen) "…" -}}
    {{- end -}}

    {{- /* grab first message link for Back to Top link */ -}}
    {{- if eq 0 $i -}}
      {{- $firstMessageID := sendMessageRetID $channelID $embed -}}
      {{- $firstMessage := getMessage $channelID $firstMessageID -}}
      {{- $backToTopLink = $firstMessage.Link -}}
    {{- else -}}
      {{- sendMessage $channelID $embed -}}
    {{- end -}}
    {{- sendMessage $channelID $categoryEntry -}}

    {{- $i = add 1 $i -}}
  {{- end -}}
{{- end -}}

{{- /* workaround for a stupid YAGPDB bug */ -}}
{{ $backToTopLink = reReplace "/0/" $backToTopLink (printf "/%d/" .Guild.ID) }}
{{- $embed := cembed
  "description" (joinStr ""
    "[⏫](" $backToTopLink ") "
    "[Back to Top](" $backToTopLink ") "
    "[⏫](" $backToTopLink ") ")
  "color" $embedColor -}}
{{- sendMessage $channelID $embed -}}
