{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `inactivityprune`
*/ -}}

{{ $args := parseArgs 1 "Please specify an action: `date`, `end`, `prune`, `remind`, or `start`."
    (carg "string" "action")
    (carg "string" "param (optional)")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}
{{ $adminCategoryID := toInt (dbGet 0 "Admin").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $nextPruneDate := (dbGet $adminCategoryID "Next Prune Date").Value }}

{{ $action := $args.Get 0 }}
{{ $param := "" }}
{{ if $args.IsSet 1 }}
    {{ $param = $args.Get 1 }}
{{ end }}

{{ $isDate := eq $action "date" }}
{{ $isEnd := eq $action "end" }}
{{ $isPrune := eq $action "prune" }}
{{ $isRemind := eq $action "remind" }}
{{ $isStart := eq $action "start" }}

{{ if or $isDate $isEnd $isPrune $isRemind $isStart }}
    {{ $title := "" }}
    {{ $message := "" }}
    {{ $roleID := "" }}

    {{ if or $isEnd $isRemind $isStart }}
        {{ if $isStart }}
            {{ $title = "Inactivity Prune Opening Announcement" }}
            {{ $roleID = toInt (dbGet $rolesCategoryID "Member Role ID").Value }}
        {{ else if $isEnd }}
            {{ $title = "Inactivity Prune Closing Announcement" }}
            {{ $roleID = toInt (dbGet $rolesCategoryID "Member Role ID").Value }}
        {{ else }}
            {{ $title = "Inactivity Prune Reminder" }}
            {{ $roleID = toInt (dbGet $rolesCategoryID "Inactive Role ID").Value }}
        {{ end }}

        {{ $message = (dbGet $adminCategoryID $title).Value }}
        {{ $message = reReplace "\\#\\{date\\}" $message $nextPruneDate }}

        {{ execCC $embed_exec nil 0 (sdict "Title" $title "Description" $message) }}

        {{ exec "MentionRole" $roleID }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec nil 0 (sdict
        "Title" "Invalid Action Specified"
        "Description" "⚠️ You must enter a valid action parameter!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
