{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `kb_edit`
  Dependencies: `db`
*/ -}}

{{ $args := parseArgs 2
    (joinStr "\n"
        "Usage: `[Key]` `[Value]`"
        "The key is the name of the knowledge base entry to update, and the value is the text that goes with it."
        "In order to __delete__ an entry, please use `(nil)` for the value."
    )
    (carg "string" "key")
    (carg "string" "value")
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $db := toInt ($commandsDict.Get "db") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB Channel ID") }}

{{ $key := $args.Get 0 }}
{{ $value := $args.Get 1 }}
{{ $operation := "add" }}
{{ if eq $value "(nil)" }}
    {{ $value = "" }}
    {{ $operation = "remove" }}
{{ end }}

{{ execCC $db $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "UserID" 0
    "Operation" $operation
    "Key" "Knowledge"
    "Value" (sdict $key $value)
    "Title" "Knowledge Base Entry Editing"
) }}

{{ deleteTrigger $deleteTriggerDelay }}
