{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `kbedit`
*/ -}}

{{ $args := parseArgs 2
    (joinStr ""
        "Usage: `[Key]` `[Value]`. "
        "The key is the name of the knowledge base entry you wish to add, and the value is the text that goes with it."
        "In order to __delete__ an entry, please use `(nil)` for the value."
    )
    (carg "string" "key")
    (carg "string" "value")
}}

{{ $key := $args.Get 0 }}
{{ $value := $args.Get 1 }}
{{ $operation := "set" }}
{{ if eq $value "(nil)" }}
    {{ $value = "" }}
    {{ $operation = "del" }}
{{ end }}

{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $knowledgeCategoryID := toInt (dbGet 0 "Knowledge").Value }}
{{ $db := toInt (dbGet $commandsCategoryID "db").Value }}
{{ execCC $db nil 0 (sdict
    "UserID" $knowledgeCategoryID
    "Operation" $operation
    "Key" $key
    "Value" $value
    "Title" "Knowledge Base Entry Editing"
) }}

{{ deleteTrigger 5 }}
