{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rejectuser`
  Dependencies: `embed_exec`, `message_link`
*/ -}}

{{ $emoji := "🥾" }}

{{ $args := parseArgs 2 "Usage: `[message link]` `[reason for rejection]`"
    (carg "string" "message link")
    (carg "string" "reason for rejection")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rolesCategoryID := toInt (dbGet 0 "Roles").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $message_link := toInt (dbGet $commandsCategoryID "message_link").Value }}

{{ $introductionChannelID := toInt (dbGet $channelsCategoryID "Introduction Channel ID").Value }}
{{ $rejectionLogChannelID := toInt (dbGet $channelsCategoryID "Rejection Log Channel ID").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $messageLinkArg := $args.Get 0 }}
{{ $reasonArg := $args.Get 1 }}

{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullLinkRegex := joinStr "" $baseURLRegex "\\d{16,}/\\d{16,}/\\d{16,}" }}
{{ $messageLink := reFind $fullLinkRegex $messageLinkArg }}

{{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}

{{ $guildCheck := eq $guildID (toString .Guild.ID) }}
{{ $channelCheck := or (not $introductionChannelID) (eq $channelID (toString $introductionChannelID)) }}

{{ if and $guildCheck $channelCheck }}
    {{ $message := getMessage $channelID $messageID }}
    {{ $userID := $message.Author.ID }}
    {{ $user := userArg $userID }}
    {{ $guildMember := getMember $userID }}
    {{ if $guildMember }}
        {{ if $rejectionLogChannelID }}
            {{ execCC $message_link $yagpdbChannelID 0 (sdict
                "ChannelID" $rejectionLogChannelID
                "Message" .Message
                "DisableQuote" true
            ) }}
        {{ end }}
        {{ deleteMessage $channelID $messageID $deleteResponseDelay }}
        {{ $silent := execAdmin "kick" $userID $reasonArg }}

        {{ $defaultAvatar := (dbGet $globalCategoryID "Default Avatar").Value }}
        {{ $userAvatar := $user.AvatarURL "128" }}
        {{ $staffUser := .User }}

        {{ $title := "User Rejection Record" }}
        {{ $description := joinStr ""
            $emoji " User **" $user.String "** (ID: " $user.ID ") "
            "has been denied admission to **" .Guild.Name "** by "
            "**" $staffUser.String "** (ID: " $staffUser.ID ") "
            "for the following reason: ```\n" $reasonArg "```"
        }}
        {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
            "ChannelID" $rejectionLogChannelID
            "Title" $title
            "Description" $description
            "ThumbnailURL" (or $userAvatar $defaultAvatar)
        ) }}
    {{ else }}
        {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
            "ChannelID" .Channel.ID
            "Title" "Invalid User"
            "Description" (joinStr "" "⚠️ The user you are trying to reject is not currently in **" .Guild.Name "**!")
            "DeleteResponse" true
            "DeleteDelay" $deleteResponseDelay
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Invalid Message Link"
        "Description" "⚠️ You must enter a valid introduction message link for the message link parameter!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
