{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `role_ping`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB Channel ID") }}

{{- /* replace zeros with correct role IDs for your server; edit dictionary entries for custom role types */ -}}
{{ $roleDict := sdict
  "Announcement" 0 "Bump" 0 "Chat" 0
  "Discussion" 0 "Event" 0 "Member" 0
}}

{{ $args := parseArgs 1 "Usage: `[role to ping][:][optional message to include with ping]`"
  (carg "string" "[role type][:][optional message]")
}}

{{ $arg := $args.Get 0 }}
{{ $roleIDArg := $arg }}
{{ $messageArg := "" }}
{{ $argArray := reSplit ":" $arg 2 }}
{{ if eq 2 (len $argArray) }}
  {{ $roleIDArg = title (index $argArray 0) }}
  {{ $messageArg = index $argArray 1 }}
{{ end }}

{{ if $messageArg }}
  {{ sendMessage .Channel.ID $messageArg }}
{{ end }}
{{ $roleID := index $roleDict $roleIDArg }}
{{ if $roleID }}
  {{ mentionRoleID $roleID }}
{{ else if (ne $roleIDArg "None") }}
  {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "Title" "Invalid Argument"
    "Description" "⚠️ You must enter a valid role type to ping!"
    "DeleteResponse" true
    "DeleteDelay" $deleteResponseDelay
  ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
