{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `role_ping`
  Dependencies: `embed_exec`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}

{{ $rolesDict := (dbGet 0 "Roles").Value }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $args := parseArgs 1 "Usage: `[role to ping or (nil)][:][optional message to include with ping]`"
  (carg "string" "[role name][:][optional message]")
}}

{{ $arg := $args.Get 0 }}
{{ $roleIDArg := $arg }}
{{ $messageArg := "" }}
{{ $argArray := reSplit ":" $arg 2 }}
{{ if eq 2 (len $argArray) }}
  {{ $roleIDArg = lower (index $argArray 0) }}
  {{ $messageArg = index $argArray 1 }}
{{ end }}

{{ if $messageArg }}
  {{ sendMessage .Channel.ID $messageArg }}
{{ end }}
{{ $roleID := index $rolesDict $roleIDArg }}
{{ if $roleID }}
  {{ mentionRoleID $roleID }}
{{ else if (ne $roleIDArg "(nil)") }}
  {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "Title" "Invalid Argument"
    "Description" "⚠️ You must enter a valid role type to ping!"
    "DeleteResponse" true
    "DeleteDelay" $deleteResponseDelay
  ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
