{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rules`
  Dependencies: `embed_exec`, `rule`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $rule := toInt ($commandsDict.Get "rule") }}

{{ $rulesDict := (dbGet 0 "Rules").Value }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $count := len $rulesDict }}
{{ $channelID := .Channel.ID }}
{{ if gt $count 0 }}
    {{- range $i := seq 0 $count -}}
        {{- execCC $rule $yagpdbChannelID 0 (sdict
            "ChannelID" $channelID
            "RuleNumber" (add 1 $i)
        ) -}}
        {{- sleep 2 -}}
    {{- end -}}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" $channelID
        "Title" "Rules Lookup Failed"
        "Description" "⚠️ No rules configured in the server!"
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
