{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rules`
  Dependencies: `embed_exec`, `rule`
*/ -}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $execCCLimit := toInt ($globalDict.Get "ExecCC Limit") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $rule := toInt ($commandsDict.Get "rule") }}

{{ $rulesDict := (dbGet 0 "Rules").Value }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $args := parseArgs 0 "Usage: `[rule to start at (inclusive)] (optional)` `[rule to end at (inclusive)] (optional)`"
    (carg "int" "starting rule")
    (carg "int" "ending rule")
}}

{{ $count := len $rulesDict }}
{{ $channelID := .Channel.ID }}
{{ if gt $count 0 }}
    {{ $startingRule := 1 }}
    {{ if $args.IsSet 0 }}
        {{ $startArg := $args.Get 0 }}
        {{ if and (ge $startArg 1) (le $startArg $count) }}
            {{ $startingRule = $startArg }}
        {{ end }}
    {{ end }}
    {{ $endingRule := $count }}
    {{ if $args.IsSet 1 }}
        {{ $endArg := $args.Get 1 }}
        {{ if and (ge $endArg 1) (le $endArg $count) (ge $endArg $startingRule) }}
            {{ $endingRule = $endArg }}
        {{ end }}
    {{ end }}
    {{ $execCCCount := 0 }}
    {{- range $i := seq (sub $startingRule 1) $endingRule -}}
        {{- $iHuman := add 1 $i -}}
        {{- if lt $execCCCount $execCCLimit -}}
            {{- execCC $rule $yagpdbChannelID 0 (sdict
                "ChannelID" $channelID
                "RuleNumber" $iHuman
            ) -}}
            {{- sleep 2 -}}
        {{- else -}}
            {{- sendMessage $channelID (joinStr ""
                "Skipping execCC call #" (add 1 $execCCCount) " due to having exceeded the limit of " $execCCLimit " calls!"
            ) -}}
        {{- end -}}
        {{- $execCCCount = add 1 $execCCCount -}}
    {{- end -}}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" $channelID
        "Title" "Rules Lookup Failed"
        "Description" "⚠️ No rules configured in the server!"
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
