{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rule_edit`
  Dependencies: `embed_exec`, `db`
*/ -}}

{{ $args := parseArgs 2
    (joinStr "\n"
        "Usage: `[Rule Number]` `[Text]`"
        "In order to __delete__ a rule, please use `(nil)` for the text."
    )
    (carg "string" "rule number")
    (carg "string" "text")
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $db := toInt ($commandsDict.Get "db") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $ruleArg := $args.Get 0 }}
{{ $isValid := and (reFind "\\A\\d+\\z" $ruleArg) (ne "0" $ruleArg) }}
{{ if $isValid }}
    {{ $ruleNumber := toInt $ruleArg }}
    {{ $key := joinStr "" "Rule #" $ruleNumber }}
    {{ $value := $args.Get 1 }}
    {{ $operation := "add" }}
    {{ if eq $value "(nil)" }}
        {{ $value = "" }}
        {{ $operation = "remove" }}
    {{ end }}

    {{ execCC $db $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "UserID" 0
        "Operation" $operation
        "Key" "Rules"
        "Value" (sdict $key $value)
        "Title" "Rule Editing"
    ) }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Invalid Rule Number Parameter"
        "Description" "⚠️ You must provide an integer greater than zero!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
