{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `rule_edit`
  Dependencies: `embed_exec`, `db`
*/ -}}

{{ $args := parseArgs 2
    (joinStr "\n"
        "Usage: `[Rule Number]` `[Text]`"
        "In order to __delete__ a rule, please use `(nil)` for the text."
    )
    (carg "string" "rule number")
    (carg "string" "text")
}}

{{ $globalCategoryID := toInt (dbGet 0 "Global").Value }}
{{ $commandsCategoryID := toInt (dbGet 0 "Commands").Value }}
{{ $rulesCategoryID := toInt (dbGet 0 "Rules").Value }}
{{ $channelsCategoryID := toInt (dbGet 0 "Channels").Value }}

{{ $deleteTriggerDelay := or (toInt (dbGet $globalCategoryID "Delete Trigger Delay").Value) 5 }}
{{ $deleteResponseDelay := or (toInt (dbGet $globalCategoryID "Delete Response Delay").Value) 5 }}
{{ $embed_exec := toInt (dbGet $commandsCategoryID "embed_exec").Value }}
{{ $db := toInt (dbGet $commandsCategoryID "db").Value }}
{{ $count := toInt (dbGet $rulesCategoryID "Count").Value }}
{{ $yagpdbChannelID := toInt (dbGet $channelsCategoryID "YAGPDB Channel ID").Value }}

{{ $ruleArg := $args.Get 0 }}
{{ $isValid := and (reFind "\\A\\d+\\z" $ruleArg) (ne "0" $ruleArg) }}
{{ if $isValid }}
    {{ $ruleNumber := toInt $ruleArg }}
    {{ $key := joinStr "" "Rule #" $ruleNumber }}
    {{ $value := $args.Get 1 }}
    {{ $operation := "set" }}
    {{ if eq $value "(nil)" }}
        {{ $value = "" }}
        {{ $operation = "del" }}
        {{ if eq $ruleNumber $count }}
            {{ dbSet $rulesCategoryID "Count" (sub $count 1) }}
        {{ end }}
    {{ else }}
        {{ if eq $ruleNumber (add 1 $count) }}
            {{ dbSet $rulesCategoryID "Count" (add 1 $count) }}
        {{ end }}
    {{ end }}

    {{ execCC $db .Channel.ID 0 (sdict
        "UserID" $rulesCategoryID
        "Operation" $operation
        "Key" $key
        "Value" $value
        "Title" "Rule Editing"
    ) }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Invalid Rule Number Parameter"
        "Description" "⚠️ You must provide an integer greater than zero!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}

{{ deleteTrigger $deleteTriggerDelay }}
