{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `screen_user`
  Dependencies: `embed_exec`, `ticket_adduser_exec`
*/ -}}

{{ $emoji := "🎟️" }}

{{ $args := parseArgs 2 "Usage: `[message link]` `[reason for screening]`"
    (carg "string" "message link")
    (carg "string" "reason for screening")
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}
{{ $deleteResponseDelay := toInt ($globalDict.Get "Delete Response Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $embed_exec := toInt ($commandsDict.Get "embed_exec") }}
{{ $ticket_adduser_exec := toInt ($commandsDict.Get "ticket_adduser_exec") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $introductionChannelID := toInt ($channelsDict.Get "Introduction") }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB") }}

{{ $messageLinkArg := $args.Get 0 }}

{{ $discordIDRegex := "\\d{16,}" }}
{{ $baseURLRegex := "https://(ptb.|canary.)?discord(?:app)?.com/channels/" }}
{{ $fullLinkRegex := joinStr "" $baseURLRegex $discordIDRegex "/" $discordIDRegex "/" $discordIDRegex }}
{{ $messageLink := reFind $fullLinkRegex $messageLinkArg }}

{{ $gcmString := reReplace $baseURLRegex $messageLink "" }}
{{ $gcmSlice := split $gcmString "/" }}
{{ $guildID := index $gcmSlice 0 }}
{{ $channelID := index $gcmSlice 1 }}
{{ $messageID := index $gcmSlice 2 }}

{{ $guildCheck := eq $guildID (toString .Guild.ID) }}
{{ $channelCheck := eq $channelID (toString $introductionChannelID) }}

{{ if and $guildCheck $channelCheck }}
    {{ $message := getMessage $channelID $messageID }}
    {{ $userID := $message.Author.ID }}
    {{ $guildMember := getMember $userID }}
    {{ if $guildMember }}
        {{ $reasonArg := $args.Get 1 }}
        {{ $user := $guildMember.User }}
        {{ $reason := joinStr "" "screening user " $userID }}

        {{ $ticketOpenResult := createTicket nil $reason }}
        {{ $ticketChannelID := $ticketOpenResult.ChannelID }}
        {{ addMessageReactions $channelID $messageID $emoji }}
        {{ sleep 1 }}

        {{ execCC $ticket_adduser_exec $ticketChannelID 0 (sdict "UserID" $userID) }}
        {{ sleep 1 }}

        {{ $introductionText := joinStr ""
            "💬 **Introduction posted by " $guildMember.User.Mention ":**\n"
            ">>> " $message.Content
        }}
        {{ sendMessage $ticketChannelID $introductionText }}
        {{ sleep 1 }}

        {{ $reasonText := joinStr ""
            "ℹ️ **Reason for additional screening:**\n"
            ">>> " $reasonArg
        }}
        {{ sendMessage $ticketChannelID $reasonText }}
    {{ else }}
        {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
            "ChannelID" .Channel.ID
            "Title" "Invalid User"
            "Description" joinStr "" "⚠️ The user you are trying to screen is not currently in **" .Guild.Name "**!"
            "DeleteResponse" true
            "DeleteDelay" $deleteResponseDelay
        ) }}
    {{ end }}
{{ else }}
    {{ execCC $embed_exec $yagpdbChannelID 0 (sdict
        "ChannelID" .Channel.ID
        "Title" "Invalid Message Link"
        "Description" "⚠️ You must enter a valid introduction message link for the message link parameter!"
        "DeleteResponse" true
        "DeleteDelay" $deleteResponseDelay
    ) }}
{{ end }}
{{ deleteTrigger $deleteTriggerDelay }}
