{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `Command`
  Trigger: `simple_db_edit`
  Dependencies: `db`
*/ -}}

{{ $args := parseArgs 3
    (joinStr ""
        "Usage: `[Category]` `[Key]` `[Value]`\n\n"
        "The category is the section of the database that you want to update (e.g. \"Admin\" or \"Knowledge\"), "
        "the key is the name of the entry to edit, and the value is the text that goes with it.\n\n"
        "In order to __delete__ an entry, please use `(nil)` for the value."
    )
    (carg "string" "category")
    (carg "string" "key")
    (carg "string" "value")
}}

{{ $globalDict := (dbGet 0 "Global").Value }}
{{ $deleteTriggerDelay := toInt ($globalDict.Get "Delete Trigger Delay") }}

{{ $commandsDict := (dbGet 0 "Commands").Value }}
{{ $db := toInt ($commandsDict.Get "db") }}

{{ $channelsDict := (dbGet 0 "Channels").Value }}
{{ $yagpdbChannelID := toInt ($channelsDict.Get "YAGPDB Channel ID") }}

{{ $category := $args.Get 0 }}
{{ $key := $args.Get 1 }}
{{ $value := $args.Get 2 }}
{{ $operation := "add" }}
{{ if eq $value "(nil)" }}
    {{ $value = "" }}
    {{ $operation = "remove" }}
{{ end }}

{{ execCC $db $yagpdbChannelID 0 (sdict
    "ChannelID" .Channel.ID
    "UserID" 0
    "Operation" $operation
    "Key" $category
    "Value" (sdict (title $key) $value)
    "Title" (joinStr " " $category "Entry Editing")
) }}

{{ deleteTrigger $deleteTriggerDelay }}
