{{- /*
  Author: Vladlena Costescu (@lbds137)
  Trigger type: `None`
*/ -}}

{{ $discordIDRegex := "\\d{16,}" }}

{{ $userID := reFind $discordIDRegex (toString .ExecData.UserID) }}

{{ if $userID }}
    {{ exec "ticket adduser" $userID }}
{{ end }}
